
        <div class="modal-header">
            <ol class="breadcrumb">
                <li style="font-weight: bold;" translate>payment.edit.payment</li>
            </ol>
        </div>
        <div class="modal-body">

            <table id="user" class="table table-bordered table-striped" style="clear: both">
                <tbody>
                    <tr>
                        <td width="35%" translate>payment.edit.order</td>
                        <td width="65%">
                            {{ order.number }}
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.mail</td>
                        <td>
                            {{ order.customer.email }}
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.nom</td>
                        <td>
                            <span editable-text="order.addresses.billing.firstname" onbeforesave="updateOrder('addresses.billing.firstname', $data)">{{ order.addresses.billing.firstname || '&nbsp;' }}</span>
                            <span editable-text="order.addresses.billing.lastname" onbeforesave="updateOrder('addresses.billing.lastname', $data)">{{ order.addresses.billing.lastname || '&nbsp;' }}</span><br>
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.creationDate</td>
                        <td>
                            {{order.creationDate | date:'dd/MM/yyyy HH:mm'}}
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.opDate</td>
                        <td>
                            {{order.operationDate | date:'dd/MM/yyyy HH:mm'}}
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.status</td>
                        <td>
                            <span editable-select="order.status" e-ng-options="s.name as s.displayName for s in status" onbeforesave="updatePayment('status', $data)">
                                {{order.status | paymentStatus}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.payMode</td>
                        <td>
                            <span editable-select="order.mode" e-ng-options="s.name as s.displayName for s in modes" onbeforesave="updatePayment('mode', $data)">
                                {{order.mode | paymentMode}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.transacNb</td>
                        <td>
                            <span editable-text="order.transactionId" onbeforesave="updatePayment('transactionId', $data)">{{ order.transactionId || '&nbsp;' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.yves</td>
                        <td>
                            <span editable-text="order.amount" onbeforesave="updatePayment('amount', $data)">{{ order.amount || '&nbsp;' }}</span> €
                        </td>
                    </tr>
                    <tr>
                        <td translate>payment.edit.comment</td>
                        <td>
                            <span editable-text="order.comment" onbeforesave="updatePayment('comment', $data)">{{ order.comment || '&nbsp;' }}</span>
                        </td>
                    </tr>
            </table>

        </div>
        <div class="modal-footer">
            <form method="POST" action="api/payments/exportone" class="col-sm-4" style="text-align:left; padding-left:0px;">
                <input type="hidden" name="data" ng-value="orderToData" />
                <button class="btn btn-default" type="submit" translate>payment.edit.export</button>
            </form>
            <button class="btn btn-default" ng-click="ok()" translate>payment.edit.ok</button>
            <button class="btn btn-default" ng-click="cancel()" translate>payment.edit.cancel</button>
        </div>
