{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "env": {
        "es6": true,
        "node": true,
        "cypress/globals": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "plugins": [
        "react",
        "react-hooks",
        "jsx-a11y",
        "cypress"
    ],
    "settings": {
        "import/resolver": {
            "alias": {
                "paths": [
                    "."
                ]
            }
        },
        "react": {
            "version": "16"
        }
    },
    "rules": {
        "object-curly-spacing": [
            "error",
            "always"
        ]
    }
}