<div class="modal-header">
    <ol class="breadcrumb">
        <li style="font-weight: bold;" translate>product.modal.activeProduct</li>
    </ol>
</div>
<div class="modal-body">
    <span translate translate-values='{admin: "{{adminUrl}}"}'>product.modal.help</span><br>
    <div style="margin-top: 10px;"><span translate>product.modal.runCanonicalisation</span>
        <button style="margin-left: 10px;padding:3px 10px" type="button" ng-click="runCanonicalisation()"><i class="fa fa-play"></i></button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate>product.modal.close</button>
</div>
