<form name="form" class="form-horizontal" novalidate ng-submit="saveStatic()" role="form">
    <ns-box data-title="static.detail.t1" title-icon="fa fa-file-text fa-lg" close-href="#/staticPage">
        <ns-buttons form="form" return-path="/staticPage" is-edit-mode="true" remove="removePage(static)" additionnal-buttons="additionnalButtons" save-and-quit="saveStatic(true)" hide-remove="static.code === 'home'">
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.new.code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="code" translate translate-attr-placeholder='static.new.ph1'
                            ng-model="static.code" readonly />
                    </div>
                    <ns-translation ng-model="lang" class="pull-right"></ns-translation>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.active</label>
                    <div class="col-sm-5">
                        <ns-switch id="active" ng-model="static.active" name="active"></ns-switch>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.new.group</label>
                    <div class="col-sm-4">
                        <input-dropdown input-name="group" input-class-name="form-control"
                            filter-list-method="filterDropdown(userInput)" selected-item="selectedDropdownItem"
                            default-dropdown-items="groups" allow-custom-input="true"
                            item-selected-method="itemObjectSelected(item)">
                        </input-dropdown>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="static.translation[lang].title" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.metaDesc</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="static.translation[lang].metaDesc" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.slug</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="static.translation[lang].slug" ng-disabled="static.code === 'home'" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>cmsBlocks.detail.content</label>
                    <div class="col-sm-10">
                        <ns-tinymce lang="lang" text="static.translation[lang].content"></ns-tinymce>
                        <button type="button" class="btn btn-default" ng-click="preview(lang)" translate>static.detail.preview</button>
                    </div>
                </div>
            </div>

        </ns-buttons>
    </ns-box>
</form>