<ns-box data-title="static.list.t1" title-icon="fa fa-file-text fa-lg" new-href="#/staticPage/new">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid" hook-page-list>
        <div class="row">
            <div class="pull-right" style="width:45%">
                <div class="searchBar dataTables_filter">
                    <input type="text" class="searchBarTerm"  ng-model="search" group="search" name="q" id="q" value="" placeholder="{{'static.list.search' | translate}}">
                    <button type="submit" class="searchBarButton">
                      <i class="fa fa-search"></i>
                   </button>
                 </div>
            </div>
        </div>
        <div class= "scrollmenu">
            <ul class="nav nav-tabs" style="margin-top: 20px;">
                <li ng-show="search === ''" class="{{currentTab === group ? 'active' : ''}}" ng-repeat="group in groups | filterListGeneral"><a href="" ng-click="changeTab(group)" target="_self">{{group}}</a></li>
                <li ng-show="search !== ''" class="{{search !== '' ? 'active' : ''}}" ><a data-toggle="tab" href="#search" target="_self" translate>static.list.search</a></li>
            </ul>
        </div>
        <div ng-repeat="group in groups | filterListGeneral:group" ng-show="currentTab === group && search === ''" id="{{group}}" class="tab-pane fade in {{currentTab === group ? 'active' : ''}}">
            <table class=" shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                <tr role="row" style="cursor: pointer">
                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">
                        <a  ng-click="sortType = 'code'; sortReverse = !sortReverse" translate>
                            static.list.code
                            <span ng-show="sortType == 'code' && !sortReverse" class="ico-chevron-down"></span>
                            <span ng-show="sortType == 'code' && sortReverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">
                        <a  ng-click="sortType = 'active'; sortReverse = !sortReverse" translate>
                            static.list.etats
                            <span ng-show="sortType == 'active' && !sortReverse" class="ico-chevron-down"></span>
                            <span ng-show="sortType == 'active' && sortReverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="pointer"
                    ng-class-odd="'odd'" ng-class-even="'even'"
                    ng-repeat="static in statics | filterListGeneral:group | orderBy:sortType:sortReverse"
                    ng-click="goToStaticPageDetails(static.code)">
                    <td class="sorting_1" data-label="Code :">
                        {{static.code}}
                    </td>
                    <td data-label="Visible :">
                        <span ng-bind-html='static.active | checked'></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="search !== ''" id="__search" class="tab-pane fade in {{search !== '' ? 'active' : ''}}">
            <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                <tr role="row" style="cursor: pointer">
                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">
                        <a  ng-click="sortType = 'code'; sortReverse = !sortReverse" translate>
                            static.list.code
                            <span ng-show="sortType == 'code' && !sortReverse" class="ico-chevron-down"></span>
                            <span ng-show="sortType == 'code' && sortReverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">
                        <a  ng-click="sortType = 'active'; sortReverse = !sortReverse" translate>
                            static.list.etats
                            <span ng-show="sortType == 'active' && !sortReverse" class="ico-chevron-down"></span>
                            <span ng-show="sortType == 'active' && sortReverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="pointer"
                    ng-class-odd="'odd'" ng-class-even="'even'"
                    ng-repeat="static in statics | orderBy:sortType:sortReverse | filter:search"
                    ng-click="goToStaticPageDetails(static.code)">
                    <td class="sorting_1">
                        {{static.code}}
                    </td>
                    <td>
                        <span ng-bind-html='static.active | checked'></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ns-box>
