<form name="form" class="form-horizontal" ng-submit="save()" role="form"> <!--style="padding: 100px;"-->
    <ns-box data-title="medias.new.media" title-icon="fa fa-file-image-o fa-lg" close-href="#/medias">
        <ns-buttons is-selected="nsUploadFiles.isSelected" is-edit-mode="isEditMode" remove="remove()" disable-save="disableSave" additionnal-buttons="additionnalButtons" hide-save-and-quit="true" return-path="/medias" form="form">
            <div hook-medias-new data="media">
            
                <div class="form-group">
                    <label for="name" class="col-sm-1 control-label" translate>medias.new.nom</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="name" translate translate-attr-placeholder='medias.new.ph1' ng-model="media.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-1 control-label" translate>medias.new.group</label>
                    <div class="col-sm-11">
                        <input-dropdown
                        input-name="group"
                        input-class-name="form-control"
                        filter-list-method="filterDropdown(userInput)"
                        selected-item="selectedDropdownItem"
                        default-dropdown-items="groups"
                        allow-custom-input="true" 
                        item-selected-method="itemObjectSelected(item)">
                        </input-dropdown>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label col-sm-1" translate>medias.new.media</label>
                    <div class="col-sm-5">
                    <ns-upload-files id="id" is-selected="nsUploadFiles.isSelected" multiple="false" type="media" entity="media" on-error="onErrorUploadMedia()"></ns-upload-files>
                    </div>
                    <div class="col-sm-5 img-responsive" ng-show="isPicture(media)">
                        <img ng-src="{{media.link ? '/' + media.link : ''}}" width="300" height="100">
                    </div>
                    <div class="col-sm-5 img-responsive" ng-show="media.link && !isPicture(media)">
                        <br/> <br/>
                        <b>Lien du media : </b><a href="{{media.link}}" target="_blank">{{media.link}}</a>
                    </div>
                </div>

            </div>
        </ns-buttons>
    </ns-box>
    <div ng-show="showLoading" id="overlayModule">
        <div class="fa fa-spinner fa-spin" style="font-size: 70px;"></div>
    </div>
</form>
