<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="<%= adminPrefix %>">
        <title>Admin : Aquila</title>
        <link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico">
        <!-- Vendor Styles-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600" rel="stylesheet">
        <!-- App Styles-->
        <link rel="stylesheet" href="css/style.css">
        <!-- Vendor JS-->
        <script src="assets/js/jquery-2.0.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script><!-- page scripts -->
        <script src="assets/js/custom.min.js"></script><!-- inline scripts related to this page -->
        <script src="assets/js/pages/login.js"></script>
        <style>
            input::placeholder {
                color: #999 !important;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="container-wrap">
                <section style="background-image: url(css/images/login-bg.jpg)" class="section-login">
                    <div class="section-inner">
                        <div class="form-login">
                            <form id="form1">
                                <div class="form-head"><a href="" class="logo logo-secondary"><img src="css/images/logo-secondary.png" alt="" width="156" height="143"></a></div>
                                <!-- /.form-head-->
                                <div class="form-body">
                                    <div class="form-row">
                                        <label for="field-email" class="form-label hidden">email</label>
                                        <div class="form-controls">
                                            <input id="field-email" type="text" name="username" value="" placeholder="Email" class="field" autofocus  />
                                            <span class="icon">
                                                <img src="css/images/image-user-dark.png" alt="" width="34" height="70">
                                            </span>
                                        </div>
                                        <!-- /.form-controls-->
                                    </div>
                                    <!-- /.form-row-->
                                    <div class="form-row">
                                        <label for="field-password" class="form-label hidden">password</label>
                                        <div class="form-controls">
                                            <input id="field-password" type="password" name="password" value="" placeholder="Password" class="field" />
                                            <span class="icon">
                                                <img src="css/images/image-padlock-dark.png" alt="" width="23" height="70">
                                            </span>
                                        </div>
                                        <!-- /.form-controls-->
                                    </div>
                                    <!-- /.form-row-->
                                </div>
                                <!-- /.form-body-->
                                <div class="form-actions">
                                    <button type="submit" class="form-btn">Connect</button>
                                </div>
                                <!-- /.form-actions-->
                            </form>
                            <form id="form2" style="display:none;">
                                <div class="form-head"><a href="" class="logo logo-secondary"><img src="css/images/logo-secondary.png" alt="" width="156" height="143"></a></div>
                                <!-- /.form-head-->
                                <div class="form-body">
                                    <div class="form-row">
                                        <label for="field-email2" class="form-label hidden">email</label>
                                        <div class="form-controls">
                                            <input id="field-email2" type="email" name="username" value="" placeholder="Email" class="field" autofocus  />
                                            <span class="icon">
                                                <img src="css/images/image-user-dark.png" alt="" width="34" height="70">
                                            </span>
                                        </div>
                                        <!-- /.form-controls-->
                                    </div>
                                </div>
                                <!-- /.form-body-->
                                <div class="form-actions">
                                    <button type="submit" class="form-btn">Reset Password</button>
                                </div>
                                <!-- /.form-actions-->
                            </form>
                            <form id="form3" style="display:none;">
                                <div class="form-head"><a href="" class="logo logo-secondary"><img src="css/images/logo-secondary.png" alt="" width="156" height="143"></a></div>
                                <!-- /.form-head-->
                                <div class="form-body">
                                    <div class="form-row">
                                        <label for="new-password1" class="form-label hidden">email</label>
                                        <div class="form-controls">
                                            <input id="new-password1" type="password" name="password1" value="" placeholder="New password" class="field" autofocus  />
                                            <span class="icon">
                                                <img src="css/images/image-padlock-dark.png" alt="" width="23" height="70">
                                            </span>
                                        </div>
                                        <!-- /.form-controls-->
                                    </div>
                                    <div class="form-row">
                                        <label for="new-password2" class="form-label hidden">email</label>
                                        <div class="form-controls">
                                            <input id="new-password2" type="password" name="password2" value="" placeholder="New password" class="field"  />
                                            <span class="icon">
                                                <img src="css/images/image-padlock-dark.png" alt="" width="23" height="70">
                                            </span>
                                        </div>
                                        <!-- /.form-controls-->
                                    </div>
                                </div>
                                <!-- /.form-body-->
                                <div class="form-actions">
                                    <button type="submit" class="form-btn">Reset Password</button>
                                </div>
                                <!-- /.form-actions-->
                            </form>
                            <br>
                            <div id="passwordForgot" style="text-align: center;cursor:pointer;color: blue;" onclick="changeForm()">Forgot your password? Reset your password</div>
                            <br>
                            <div id="resetPass" style="text-align: center;color: blue;"></div>
                            <div id="resetedPass" style="display: none;text-align: center;color: #ff0000;">Password is incorrect (6 characters, 1 uppercase letter, 1 lowercase letter, 1 number)</div>
                            <div id="samePass" style="display: none;text-align: center;color: #ff0000;">Passwords are different !</div>
                            <div id="email-error" style="display: none;text-align: center;color: #ff0000;">Email not found</div>
                            <div id="api-error" style="display: none;text-align: center;color: #ff0000;">An error has occurred</div>
                            <div id="error_msg_bad_login" style="display: none; text-align: center; color: #ff0000;">Bad login</div>
                            <div id="error_msg_disable_account" style="display: none; text-align: center; color: #ff0000;">Disabled account</div>
                        </div>
                        <!-- /.form-login-->
                    </div>
                    <!-- /.section-inner-->
                </section>
                <!-- /.section-intro-->
            </div>
            <!-- /.container-wrap-->
            
            <footer class="footer"></a>
                <p class="copyright">2023 AQUILA</p>
            </footer>

        </div>
        <!-- /.wrapper-->
    </body>
</html>