<form name="form" class="form-horizontal" novalidate ng-submit="save(false)" role="form">
    <ns-box data-title="mail.detail.t1" title-icon="fa fa-envelope fa-lg" close-href="#/mails">
        <ns-buttons is-selected="nsUploadFiles.isSelected" is-edit-mode="isEditMode" remove="remove(mail._id)" save-and-quit="save(true)" disable-save="disableSave" return-path="/mails" form="form" additionnal-buttons="additionnalButtons">
            <ns-translation lang-change="langChange(lang)" ng-model="lang" class="pull-right"></ns-translation>
                <div style="width: 50%;float:left;margin-top:10px">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="type" class="col-sm-3 control-label" translate>mail.detail.type</label>
                            <div class="col-sm-9">
                                <select name="type" class="form-control" id="type" ng-model="mail.type" ng-change="updateMailType()">
                                    <option ng-repeat="option in mailTypes" value="{{option.code}}">{{option.translation[adminLang].name}}</option>
                                </select>
                            </div>
                    
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="code" class="col-sm-3 control-label" translate>mail.detail.code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="code" name="code" ng-model="mail.code" required>
                                <div class="ns-error-message" ng-show="form.code.$touched || form.nsSubmitted">
                                    <div ng-show="form.code.$error.required" translate>mail.detail.champRequis</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="from" class="col-sm-3 control-label" translate>mail.detail.senderMail</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="from" name="from" ng-model="mail.from" required>
                                <div class="ns-error-message" ng-show="form.from.$touched || form.nsSubmitted">
                                    <div ng-show="form.from.$error.required" translate>mail.detail.champRequis</div>
                                    <span ng-show="form.from.$error.email" translate>mail.detail.validMailPls</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="from" class="col-sm-3 control-label" translate>mail.detail.senderName</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="fromName" name="fromName" ng-model="mail.fromName">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="subject" class="col-sm-3 control-label" translate>mail.detail.sujet</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="subject" name="subject"
                                    ng-model="mail.translation[lang].subject" required>
                                <div class="ns-error-message" ng-show="form.subject.$touched || form.nsSubmitted">
                                    <div ng-show="form.subject.$error.required" translate>mail.detail.champRequis</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 50%;float: right;margin-top:10px" ng-if="isEditMode">
                    <div class="col-md-10">
                        <label translate>mail.detail.attachment</label>
                        <ns-upload-files is-selected="nsUploadFiles.isSelected" accepttype="application/pdf" id="mail._id" multiple="false" type="mail" before-function="before()"
                            after-function="after()" lang="lang" on-error="uploadError()"></ns-upload-files>
                        <!-- <ns-upload-files is-selected="nsUploadFiles.isSelected" ng-if="!mail.translation[lang].attachments || mail.translation[lang].attachments.length < 1" accepttype="application/pdf" id="mail._id" multiple="false" type="mail" before-function="before()"
                            after-function="after()" lang="lang" on-error="uploadError()"></ns-upload-files> -->
                        
                            <table style="border:1px solid black; margin-bottom: 15px;max-width:100%; table-layout: fixed;">
                                <tr ng-repeat-start="file in mail.translation[lang].attachments">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat-end>
                                    <td style="padding-left:10px; overflow: hidden;font-size:12px"><a target="_blank" href="{{file.path}}">{{getNameAttachment(file)}}</a></td>
                                    <td style="text-align:right;padding:4px;"><button class="btn btn-red btn-with-icon" style="font-size:12px" ng-click="deletePdf($index, lang)" translate>mail.detail.delete</button></td>
                                </tr>
                            </table>
                        
                    </div>
                </div>
                

            <div class="form-group">
                <div class="col-sm-11">
                    <label class="col-sm-2 control-label" translate>mail.detail.html</label>
                    <div class="col-sm-12 tinyeditor-big">
                        <ns-tinymce lang="'lang'" mail="mail.type" text="mail.translation[lang].content"></ns-tinymce>
                        <br />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div ng-if="!mail.type" style="text-align:center">
                    <b translate>mail.desc.empty<b>
                </div>
                <div ng-if="mail.type" class="col-sm-4">
                    <label><span translate>mail.detail.varDispo</span><br />
                        <span style="font-size:11px;font-weight: normal"><span translate>mail.detail.deuxAcc </span>
                            {{variable}}</span>
                    </label>
                </div>
                <div class="col-sm-8">
                    <div ng-if="mail.type">
                        <label translate>mail.detail.type</label> :
                        <label>{{typeName}}</label>
                    </div>
                    <br>
                    <div bind-html-compile="component_template"></div>
                    <div ng-if="mail.type === 'register'">
                        <b>login </b> : <span translate>mail.desc.loginMailDesc</span> <br>
                        <b>firstname </b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
                        <b>activate_account_token</b> : <span translate>mail.desc.activateAccountTokenMailDesc</span> <br>
                    </div>
                    <div ng-if="mail.type === 'sendRegisterForAdmin'">
                        <b>login</b> : <span translate>mail.desc.loginMailDesc</span> <br>
                        <b>firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
                    </div>
            
                    <div ng-if="mail.type === 'activationAccount'">
                        <b>activate_account_token</b> : <span translate>mail.desc.activateAccountTokenMailDesc</span> <br>
                        <b>firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'orderSuccess'">
                        <b>taxdisplay</b> : <span translate>mail.desc.taxdisplayMailDesc</span> <br>
                        <b>order.customer.fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>order.customer.lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>order.customer.firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>order.customer.company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
                        <b>order.number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>order.dateReceipt</b> : <span translate>mail.desc.dateReceiptMailDesc</span> <br>
                        <b>order.hourReceipt</b> : <span translate>mail.desc.hourReceiptMailDesc</span> <br>
                        <b>address.line1</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.line2</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.companyName</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.complementaryInfo</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.zipcode</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.city</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.country</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>totalamount</b> : <span translate>mail.desc.totalamountMailDesc</span> <br>
                        <b>orderdata</b> : <span translate>mail.desc.orderdataMailDesc</span> <br>
                        <b>appUrl</b> : <span translate>mail.desc.appUrlMailDesc</span> <br>
                        <b>order.paymentMode</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.paymentDescription</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.shipment</b> : <span translate>mail.desc.delivery_typeMailDesc</span> <br>
                    </div>
                    <div ng-if="mail.type === 'orderSuccessDeferred'">
                        <b>taxdisplay</b> : <span translate>mail.desc.taxdisplayMailDesc</span> <br>
                        <b>order.customer.fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>order.customer.lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>order.customer.firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>order.customer.company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
                        <b>order.number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>order.dateReceipt</b> : <span translate>mail.desc.dateReceiptMailDesc</span> <br>
                        <b>order.hourReceipt</b> : <span translate>mail.desc.hourReceiptMailDesc</span> <br>
                        <b>address.line1</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.line2</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.companyName</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.complementaryInfo</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.zipcode</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.city</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.country</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>totalamount</b> : <span translate>mail.desc.totalamountMailDesc</span> <br>
                        <b>orderdata</b> : <span translate>mail.desc.orderdataMailDesc</span> <br>
                        <b>appUrl</b> : <span translate>mail.desc.appUrlMailDesc</span> <br>
                        <b>order.paymentMode</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.paymentDescription</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.shipment</b> : <span translate>mail.desc.delivery_typeMailDesc</span> <br>
                        <b>payment.instruction</b> : <span translate>mail.desc.delivery_typeMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'orderSuccessCompany'">
                        <b>order.customer.fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>order.customer.lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>order.customer.firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>order.customer.company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
                        <b>taxdisplay</b> : <span translate>mail.desc.taxdisplayMailDesc</span> <br>
                        <b>order.number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>order.dateReceipt</b> : <span translate>mail.desc.dateReceiptMailDesc</span> <br>
                        <b>order.hourReceipt</b> : <span translate>mail.desc.hourReceiptMailDesc</span> <br>
                        <b>address.line1</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.line2</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.companyName</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.complementaryInfo</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.zipcode</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.city</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>address.country</b> : <span translate>mail.desc.addressMailDesc</span> <br> <b>totalamount</b> : <span
                            translate>mail.desc.totalamountMailDesc</span> <br>
                        <b>appUrl</b> : <span translate>mail.desc.appUrlMailDesc</span> <br>
                        <b>order.paymentMode</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.paymentDescription</b> : <span translate>mail.desc.payment_typeMailDesc</span> <br>
                        <b>order.shipment</b> : <span translate>mail.desc.shipmentMailDesc</span> <br>
                        <b>totalamount</b> : <span translate>mail.desc.totalamountMailDesc</span> <br>
                    </div>
                    <div ng-if="mail.type === 'passwordRecovery'">
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>tokenlink</b> : <span translate>mail.desc.tokenlinkMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'changeOrderStatus'">
                        <b>appUrl</b> : <span translate>mail.desc.appUrlMailDesc</span> <br>
                        <b>number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>status</b> : <span translate>mail.desc.statusMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'contactMail'">
            
                        <b>formDatas</b> : <span translate>mail.desc.formDatasMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'rmaOrder'">
                        <b>number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>date</b> : <span translate>mail.desc.dateMailRmaDesc</span> <br>
                        <b>articles</b> : <span translate>mail.desc.articlesMailDesc</span> <br>
                        <b>refund</b> : <span translate>mail.desc.refundMailDesc</span> <br>
                        <b>firstname</b> : <span translate>mail.desc.firstnameMailDesc</span> <br>
                        <b>lastname</b> : <span translate>mail.desc.lastnameMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'orderSent'">
                        <b>number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
                        <b>trackingUrl</b> : <span translate>mail.desc.trackingUrlMailDesc</span> <br>
                        <b>date</b> : <span translate>mail.desc.dateMailDesc</span> <br>
                        <b>transporterName</b> : <span translate>mail.desc.transporterNameMailDesc</span> <br>
                        <b>address</b> : <span translate>mail.desc.addressMailDesc</span> <br>
                        <b>fullname</b> : <span translate>mail.desc.fullnameMailDesc</span> <br>
                        <b>company</b> : <span translate>mail.desc.companyMailDesc</span> <br>
            
                    </div>
                    <div ng-if="mail.type === 'requestCancelOrderNotify'">
            
                        <b>appUrl</b> : <span translate>mail.desc.appUrlMailDesc</span> <br>
                        <b>number</b> : <span translate>mail.desc.numberMailDesc</span> <br>
            
            
                    </div>
                </div>
            </div>

        </ns-buttons>
    </ns-box>
</form>
