<form name="form" novalidate class="form-horizontal" role="form" ng-submit="saveProduct(product, false)">
    <ns-box data-title="simple.t1" title-icon="fa fa-cubes fa-lg" close-href="#/products">
        <ns-buttons show-duplicate="true"
                    is-selected="nsUploadFiles.isSelected"
                    is-edit-mode="isEditMode"
                    return-path="/products"
                    form="form"
                    remove="removeProduct(product._id)"
                    save-and-quit="saveProduct(product, true)"
                    disable-save="disableSave"
                    additionnal-buttons="additionnalButtons"
                    more-buttons="moreButtons"
                    >
            <div style="height: 40px" ng-show='languages.length > 1'>
                <ns-translation ng-model="lang" class="pull-right"></ns-translation>
            </div>
            <div class="scrollmenu">
                <ul class="nav nav-tabs" hook-product-detail-tab>
                    <li class="active"><a data-toggle="tab" href="#general" target="_self" translate>simple.gen</a></li>
                    <li><a data-toggle="tab" href="#marketing" target="_self" translate>simple.mark</a></li>
                    <li><a data-toggle="tab" href="#prix" target="_self" translate>simple.prixStock</a></li>
                    <li><a data-toggle="tab" href="#photos" target="_self" translate>simple.pics</a></li>
                    <li><a data-toggle="tab" href="#attributes" target="_self" translate>simple.specAttr</a></li>
                    <li ng-show="product.type === 'simple'"><a data-toggle="tab" href="#declinaisons" target="_self" translate>product.declinaisons.variants</a></li>
                    <li><a data-toggle="tab" href="#cross_selling" target="_self" translate>simple.cs</a></li>
                    <li><a data-toggle="tab" href="#promos" target="_self">Promos</a></li>
                    <li><a data-toggle="tab" href="#categoriesLink" target="_self" translate>simple.linkedCat</a></li>
                    <li ng-repeat="tab in additionnalTabs">
                        <a data-toggle="tab" href="{{tab.href}}" target="_self" translate="{{tab.title}}"></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <span class="pull-right" style="margin-bottom:30px;">
                    <span bind-html-compile="oneHook.component_template" ng-repeat="oneHook in hookProductInfo" style="display:block;"></span>
                </span>

                <div id="general" class="tab-pane fade in active">
                    <ns-product-general product="product" lang="lang" is-edit-mode="isEditMode" product-type="'simple'" form="form"></ns-product-general>
                </div>

                <div id="marketing" class="tab-pane fade">
                    <ns-product-marketing id="productMarketing" ng-model="product" init="init" form="form"></ns-product-marketing>
                    <!-- <ns-cms-blocks product="product" form="form"></ns-cms-blocks> -->
                </div>

                <div id="prix" class="tab-pane fade">
                    <ns-product-price ng-model=product form="form"></ns-product-price>
                </div>

                <div id="photos" class="tab-pane fade">
                    <ns-product-photo is-selected="nsUploadFiles.isSelected" ng-model="product" form="form"></ns-product-photo>
                </div>

                <div id="cross_selling" class="tab-pane fade">
                    <ns-product-cross-selling product=product form="form" lang="lang" is-edit-mode="isEditMode"></ns-product-cross-selling>
                </div>

                <div id="promos" class="tab-pane fade">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        
                        <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'name'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.nom
                                            <span ng-show="sort.type == 'name' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'name' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'type'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.type
                                            <span ng-show="sort.type == 'type' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'type' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'dateStart'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateDeb
                                            <span ng-show="sort.type == 'dateStart' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'dateStart' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'dateEnd'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateFin
                                            <span ng-show="sort.type == 'dateEnd' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'dateEnd' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'createdAt'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateCre
                                            <span ng-show="sort.type == 'createdAt' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'createdAt' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'priority'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.detail.priority
                                            <span ng-show="sort.type == 'priority' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'priority' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'applyNextRules'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.detail.applyNextRules
                                            <span ng-show="sort.type == 'applyNextRules' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'applyNextRules' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'actif'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.actif
                                            <span ng-show="sort.type == 'actif' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'actif' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="pointer" ng-click="detail(promo)" ng-repeat="promo in promos" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td>{{promo.name}}</td>
                                    <td>{{promo.type === "1" ? "Panier" : "Catalogue"}}</td>
                                    <td>{{ momentDate(promo.dateStart) }}</td>
                                    <td>{{ momentDate(promo.dateEnd) }}</td>
                                    <td>{{ momentDate(promo.createdAt) }}</td>
                                    <td>{{promo.priority}}</td>
                                    <td>{{promo.applyNextRules ? "Oui" : "Non"}}</td>
                                    <td>{{promo.actif ? "Actif" : "Non actif"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="attributes" class="tab-pane fade">
                    <h3 style="display: inline" translate>simple.attrJeu</h3>
                    <div class="form-group" ng-show="product.code != null">
                        <div class="col-sm-11">
                            <label for="set_attributes" class="col-sm-2 control-label" translate>product.general.jeuAttr</label>
                            <div class="col-sm-6">
                                <select id="set_attributes" name="set_attributes" class="form-control"
                                    ng-options="setAttr as setAttr.name for setAttr in setAttributes track by setAttr.code"
                                    ng-model="product.set_attributes" ng-change="loadNewAttrs()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <span ng-show="product.code == null" style="color: red;">
                        <br /><br />
                        <span translate>simple.beforeConfig</span>
                    </span>
                    <div class="form-group" style="margin-top: 20px;" ng-show="product.code != null">
                        <ns-attributes ng-show="product.attributes && product.attributes.length" class="col-sm-11" ng-if="att.type" ng-repeat="att in product.attributes track by att.code | orderBy: ['position','name']" style="margin-top: 20px;"></ns-attributes>
                        <p ng-show="!product.attributes || !product.attributes.length" class="col-sm-11" style="margin-top: 20px;"><em translate>product.general.noAttribs</em></p>
                    </div>
                </div>

                <div id="categoriesLink" class="tab-pane fade">
                    <ns-product-categories product="product" lang="lang" is-edit-mode="isEditMode" product-type="'simple'" form="form"></ns-product-categories>
                </div>
                <div ng-show="product.type === 'simple'" id="declinaisons" class="tab-pane fade">
                    <ns-product-declinaisons product="product" lang="lang" is-edit-mode="isEditMode" form="form"></ns-product-declinaisons>
                </div>
                <div ng-repeat="tab in additionnalTabs" id="{{tab.id}}" class="tab-pane fade">
                    <h3 style="display: inline" translate="tab.title"></h3>
                    <div class="form-group" style="margin-top: 20px;">
                        <div bind-html-compile="tab.content"></div>
                    </div>
                </div>
                <div class="tab-pane fade" hook-product-detail-othertab></div>
            </div>
            <!-- <ul class="nav nav-tabs">
                <li ng-repeat="(key, value) in translation" ng-class="{active: (key == language)}"><a  ng-click="changelanguage(key)" data-toggle="tab">{{key}}</a></li>
            </ul>

            <div ng-repeat="(key, product) in translation" ng- ng-show="key == language">

            </div>-->
        </ns-buttons>
    </ns-box>
</form>