<ns-box data-title="stats.t1" title-icon="fa fa-bar-chart fa-lg" close-href="#/">

    <style>
        .graph-type {margin-top:8px}
        .graph-type > i { margin-right:10px ; cursor: pointer }
        .chart-google {height: 600px}
        .stat-tableImg { width:100px}
        .google-visualization-table{display:block}
    </style>
    
    
        <div class="row">
            <div class="col-lg-2">
                <label class="control-label"translate>stats.Granularity</label>
                <select class="form-control" ng-model="filter.granularity" style="min-height:40px;border-radius: 10px">
                    <option value="day" selected>Jour</option>
                    <!-- <option value="week">Semaine</option> --> 
                    <option value="month">Mois</option>
                </select>
            </div>
            <div class="col-lg-4">
                <div class="form-group col-lg-6" style="padding-left: 5px; padding-right: 5px;">
                    <label class="control-label" translate>payment.list.debut</label>
                    <div>
                        <div class="input-group">
                            <ns-datepicker name="dateStart" ng-model="filter.dateStart"></ns-datepicker>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-6" style="padding-left: 5px; padding-right: 5px">
                    <label class="control-label" translate>payment.list.fin</label>
                    <div>
                        <div class="input-group">
                            <ns-datepicker name="dateEnd" ng-model="filter.dateEnd"></ns-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button style="pointer-events:auto;margin-top:25px" type="button" class="btn btn-default" ng-click="loadDatas()" ><span translate>stats.Valider</span><i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
            <div class="col-lg-4" style="text-align:right">
                <i class="fa fa-download fa-2x" aria-hidden="true" ng-click="downloadDatas()" style="cursor:pointer"></i>
            </div>
        </div>
    




        <div class="scrollmenu">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#looseCart" target="_self" ng-click="changeTab('canceledCart');" translate>stats.canceledCart</a></li>
                <li><a data-toggle="tab" href="#cag" target="_self" ng-click="changeTab('cag',$event)" translate>stats.cag</a></li>
                <li><a data-toggle="tab" href="#capp" target="_self" ng-click="changeTab('capp',$event)" translate>stats.capp</a></li>
                <li><a data-toggle="tab" href="#nbOrder" target="_self" ng-click="changeTab('nbOrder',$event)" translate>stats.orders</a></li>
            </ul>
        </div>



    
    
        <div class="tab-content" style="padding:0">
            <div id="looseCart" class="tab-pane fade in active">
                <div google-chart chart="charts.orders.canceledCart" class="chart-google" ng-if="!obj.loading"></div>
                <div class="fa fa-spinner fa-spin" style="font-size: 200px;position: absolute;top:300px;left:50%;z-index:1" ng-if="obj.loading"></div>
            </div>
            <div id="cag" class="tab-pane fade">
                <div google-chart chart="charts.orders.cag" class="chart-google" ng-if="!obj.loading"></div>
                <div class="fa fa-spinner fa-spin" style="font-size: 200px;position: absolute;top:300px;left:50%;z-index:1" ng-if="obj.loading"></div>
            </div>
            <div id="capp" class="tab-pane fade" style="background-color:#FFF;padding: 30px 80px">
                <div google-chart chart="charts.orders.capp" ng-if="!obj.loading"></div>
                <div class="fa fa-spinner fa-spin" style="font-size: 200px;position: absolute;top:300px;left:50%;z-index:1" ng-if="obj.loading"></div>
            </div>
            <div id="nbOrder" class="tab-pane fade">
                <div google-chart chart="charts.orders.nbOrder" class="chart-google" ng-if="!obj.loading"></div>
                <div class="fa fa-spinner fa-spin" style="font-size: 200px;position: absolute;top:300px;left:50%;z-index:1" ng-if="obj.loading"></div>
            </div>
        </div>
    
    
    </ns-box>
