<ns-box data-title="client.list.t1" title-icon="fa fa-users fa-lg" new-href="#/clients/new">
    <div class="tab-content">
        <div id="clientsList" class="tab-pane fade in active">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div hook-client-list></div>
                <div class="row">
                    <div class="col-lg-1" style="float:right">
                            <i class="fa fa-download pull-right" aria-hidden="true" title="Export" ng-click="export('users')" style="cursor: pointer" ></i>
                    </div>
                </div>
                <div class="tableWrapperOverflow">
                    <table class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                        <tr role="row" class="pointer">
                            <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-sort="ascending" aria-label="Email: activate to sort column descending">
                                <a  ng-click="sortSearch('email')" translate>
                                    client.list.email
                                    <span ng-show="sort.type == 'email' && !sort.reverse" class="ico-chevron-down"></span>
                                    <span ng-show="sort.type == 'email' && sort.reverse" class="ico-chevron-up"></span>
                                </a>
                            </th>
                            <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Name: activate to sort column ascending">
                                <a  ng-click="sortSearch('lastname')" translate>
                                    client.list.nom
                                    <span ng-show="sort.type == 'lastname' && !sort.reverse" class="ico-chevron-down"></span>
                                    <span ng-show="sort.type == 'lastname' && sort.reverse" class="ico-chevron-up"></span>
                                </a>
                            </th>
                            <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Firstname: activate to sort column ascending">
                                <a  ng-click="sortSearch('firstname')" translate>
                                    client.list.prenom
                                    <span ng-show="sort.type == 'firstname' && !sort.reverse" class="ico-chevron-down"></span>
                                    <span ng-show="sort.type == 'firstname' && sort.reverse" class="ico-chevron-up"></span>
                                </a>
                            </th>
                            <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Société: activate to sort column ascending">
                                <a  ng-click="sortSearch('company.name')" translate>
                                    client.list.company
                                    <span ng-show="sort.type == 'company.name' && !sort.reverse" class="ico-chevron-down"></span>
                                    <span ng-show="sort.type == 'company.name' && sort.reverse" class="ico-chevron-up"></span>
                                </a>
                            </th>
                            <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Login date: activate to sort column ascending">
                                <a  ng-click="sortSearch('lastConnexion')" translate>
                                    client.list.lastConnexion
                                    <span ng-show="sort.type == 'lastConnexion' && !sort.reverse" class="ico-chevron-down"></span>
                                    <span ng-show="sort.type == 'lastConnexion' && sort.reverse" class="ico-chevron-up"></span>
                                </a>
                            </th>
                            <th ng-repeat="column in columns" bind-html-compile="column.header.component_template"></th>
                            <!--<th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Actions: activate to sort column ascending">
                                Actions
                            </th>-->
                        </tr>
                        <tr role="row">
                            <th>
                                <input type="text" ng-change="sortSearch(null, 1)" ng-model="filter.email" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='client.list.email' class="form-control">
                            </th>
                            <th>
                                <input type="text" ng-change="sortSearch(null, 1)" ng-model="filter.lastname" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='client.list.nom' class="form-control">
                            </th>
                            <th>
                                <input type="text" ng-change="sortSearch(null, 1)" ng-model="filter.firstname" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='client.list.prenom2' class="form-control">
                            </th>
                            <th>
                                <input type="text" ng-change="sortSearch(null, 1)" ng-model="filter.company" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='client.list.companyName' class="form-control">
                            </th>
                            <th>
                                <!-- <ns-datepicker name="lastConnexion" class="fullDatepicker form-datepicker" style="display: inline-block; width: 45%" ng-model="filter.lastConnexion" ng-change="sortSearch(null, 1)">
                                </ns-datepicker> -->
                            </th>
                            <th ng-repeat="column in columns" bind-html-compile="column.inter.component_template"></th>
                        </tr>

                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <tr class="pointer"
                            ng-class-odd="'odd'" ng-class-even="'even'"
                            ng-click="goToClientDetails(client._id)"
                            ng-repeat="client in clients|orderBy:sort.type:sort.reverse">
                            <td data-label="Email :" class="tdSize">{{client.email}}</td>
                            <td data-label="Nom :" class="tdSize">{{client.lastname || client.company.contact.last_name}}</td>
                            <td data-label="Prénom :" class="tdSize">{{client.firstname || client.company.contact.first_name}}</td>
                            <td data-label="Société :" class="tdSize">{{client.company.name}}</td>
                            <td data-label="Login :" class="tdSize">{{client.lastConnexion | date:"dd/MM/yy - HH:mm"}}</td>
                            <td data-label="Quantité :" ng-repeat="column in columns" bind-html-compile="column.cell.component_template"></td>
                            <!--<td style="width: 25%">
                                <a href="#/clients/{{client._id}}" class="btn btn-blue btn-with-icon">
                                    <i class="ico-magnifier-primary"></i>
                                    <span class="text">Consulter</span>
                                </a>
                                <a ng-click="removeClient(client)" class="btn btn-red btn-with-icon">
                                    <i class="ico-trash"></i>
                                    <span class="text">Supprimer</span>
                                </a>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="totalClients" page="currentClientsPage" on-select-page="onClientsPageChange(page)" items-per-page="nbItemsPerPage"
                max-size="maxSize" boundary-links="true" rotate="false"></pagination>
            </div>
        </div>
</ns-box>
