<ns-box data-title="client.list.t1" title-icon="fa fa-users fa-lg" new-href="#/clients/new">    
    <div class="tab-content">
        <div id="clientsList" class="tab-pane fade in active">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="dataTables_filter">
                            <label>
                                <input type="search" ng-change="search()"
                                    ng-model="query.search" ng-model-options="{ debounce: 500 }" name="q" id="q" value=""  translate translate-attr-placeholder='client.list.ph1' class="search-field">
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-1">
                            <i class="fa fa-download pull-right" aria-hidden="true" title="Export" ng-click="export('users')" style="cursor: pointer" ></i>
                    </div>
                </div>
                <table class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr role="row" class="pointer">
                        <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-sort="ascending" aria-label="Email: activate to sort column descending">
                            <a  ng-click="sort.type = 'email'; sort.reverse = !sort.reverse" translate>
                                client.list.email
                                <span ng-show="sort.type == 'email' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'email' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Name: activate to sort column ascending">
                            <a  ng-click="sort.type = 'lastname'; sort.reverse = !sort.reverse" translate>
                                client.list.nom
                                <span ng-show="sort.type == 'lastname' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'lastname' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Firstname: activate to sort column ascending">
                            <a  ng-click="sort.type = 'firstname'; sort.reverse = !sort.reverse" translate>
                                client.list.prenom
                                <span ng-show="sort.type == 'firstname' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'firstname' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th  role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Société: activate to sort column ascending">
                            <a  ng-click="sort.type = 'company.name'; sort.reverse = !sort.reverse" translate>
                                client.list.company
                                <span ng-show="sort.type == 'company.name' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'company.name' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Creation date: activate to sort column ascending">
                            <a  ng-click="sort.type = 'creationDate'; sort.reverse = !sort.reverse" translate>
                                client.list.creationDate
                                <span ng-show="sort.type == 'creationDate' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'creationDate' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th ng-repeat="column in columns" bind-html-compile="column.header.component_template"></th>
                        <!--<th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;" aria-label="Actions: activate to sort column ascending">
                            Actions
                        </th>-->
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="pointer"
                        ng-class-odd="'odd'" ng-class-even="'even'"
                        ng-click="goToClientDetails(client._id)"
                        ng-repeat="client in clients|orderBy:sort.type:sort.reverse">
                        <td data-label="Email :" style="width: 15%">{{client.email}}</td>
                        <td data-label="Nom :" style="width: 15%">{{client.lastname || client.company.contact.last_name}}</td>
                        <td data-label="Prénom :" style="width: 15%">{{client.firstname || client.company.contact.first_name}}</td>
                        <td data-label="Société :" style="width: 15%">{{client.company.name}}</td>
                        <td data-label="Date de création :" style="width: 15%">{{client.creationDate | date:"dd/MM/yyyy"}}</td>
                        <td data-label="Quantité :" ng-repeat="column in columns" bind-html-compile="column.cell.component_template"></td>
                        <!--<td style="width: 25%">
                            <a href="#/clients/{{client._id}}" class="btn btn-blue btn-with-icon">
                                <i class="ico-magnifier-primary"></i>
                                <span class="text">Consulter</span>
                            </a>
                            <a ng-click="removeClient(client)" class="btn btn-red btn-with-icon">
                                <i class="ico-trash"></i>
                                <span class="text">Supprimer</span>
                            </a>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <pagination total-items="totalClients" page="currentClientsPage" on-select-page="onClientsPageChange(page)" items-per-page="nbItemsPerPage"
                max-size="maxSize" boundary-links="true" rotate="false"></pagination>
            </div>
        </div>
</ns-box>
