node_modules

*.swp
.pnp*
.yarn
yarn.lock
yarn-error.log
.yarnrc
.tmp
.babel-test-build
.vscode/
.DS_Store
\.idea/
.history/*
**/.history
.next/
ecosystem.config.js
sitemap.xml
robots.txt
**/*.bck
**/*.pem
**/*.crt
nodemon.json
.env
env.json
config/dynamic_langs.js

/documentations/apidoc
/config/envPath
/uploads
/modules
log
/_VS
/logs
/exports

/backoffice/*.*
/backoffice/app/*
/backoffice/exports/
/backoffice/bower-components/
/backoffice/views/email/
/backoffice/medias/
/backoffice/front/img/slide/

!/backoffice/app/attribute/
!/backoffice/app/attributesSet/
!/backoffice/app/cart/
!/backoffice/app/category/
!/backoffice/app/client/
!/backoffice/app/cmsBlocks/
!/backoffice/app/config/
!/backoffice/app/contact/
!/backoffice/app/dependencies/
!/backoffice/app/design/
!/backoffice/app/family/
!/backoffice/app/gallery/
!/backoffice/app/home/
!/backoffice/app/job/
!/backoffice/app/mail/
!/backoffice/app/medias/
!/backoffice/app/modules/
!/backoffice/app/newsletter/
!/backoffice/app/option/
!/backoffice/app/optionsSet/
!/backoffice/app/order/
!/backoffice/app/payment/
!/backoffice/app/paymentMethod/
!/backoffice/app/picto/
!/backoffice/app/product/
!/backoffice/app/productBundle/
!/backoffice/app/productReviews/
!/backoffice/app/productSimple/
!/backoffice/app/produtVirtual/
!/backoffice/app/promo/
!/backoffice/app/shipment/
!/backoffice/app/site/
!/backoffice/app/slider/
!/backoffice/app/staticPage/
!/backoffice/app/statistics/
!/backoffice/app/stock/
!/backoffice/app/supplier/
!/backoffice/app/territories/
!/backoffice/app/themes/
!/backoffice/app/trademark/
!/backoffice/app/translate/
!/backoffice/app/translation/
!/backoffice/app/update/
!/backoffice/app/app.js
!/backoffice/aquilaCmsBlocks/
!/backoffice/aquilaComponents/
!/backoffice/assets/
!/backoffice/css/
!/backoffice/js/
!/backoffice/lib/
!/backoffice/vendor/
!/backoffice/views/

/themes/*/out
/themes/*
/themes/**/fakeDatas/files/cache
/themes/**/demoDatas/files/cache
/themes/default_theme/modules/list_modules.js
/themes/default_theme/assets/i18n/*/modules/
# Exceptions
!/themes/default_theme
!/themes/README.md
!/themes/.gitignore