<ns-box data-title="{{isEditMode ? 'gallery.detail.t1' : 'gallery.detail.t2'}}" title-icon="fa fa-picture-o fa-lg" close-href="#/component/gallery">    
    <form name="form" novalidate class="form-horizontal" role="form" ng-submit="save(false)"> <!--style="padding: 100px"-->
        <ns-buttons is-edit-mode="isEditMode" return-path="/component/gallery" form="form" remove="delete()" save="save()" save-and-quit="save(true)" disable-save="disableSave">
            <div hook-gallery-detail data="gallery">
            
                <div class="form-group">
                    <label for="code" class="col-sm-3 control-label" translate>gallery.detail.code</label>
                    <div class="col-sm-7">
                        <input id="code" class="form-control" ng-model="gallery.code" ng-change="checkValidity()" />
                        <div class="label label-info">&lt;ns-gallery ns-code="{{gallery.code}}"&gt;&lt;/ns-gallery&gt;</ns-cms></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label" translate>gallery.detail.type</label>
                    <div class="col-sm-2">
                        <select id="type" class="form-control" ng-model="gallery.type" ng-change="updateType()">
                            <option value="simple" translate>gallery.detail.type1</option>
                            <option value="advance" translate>gallery.detail.type2</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="gallery.type === 'simple'">
                    <label for="item_show" class="col-sm-3 control-label" translate>gallery.detail.nbItemDisplayed</label>
                    <div class="col-sm-2">
                        <input id="item_show" type="number" class="form-control" min="1" ng-model="gallery.initItemNumber" ng-change="checkValidity()" />
                    </div>

                    <label for="max_col" class="col-sm-3 control-label" translate>gallery.detail.nbColMax</label>
                    <div class="col-sm-2">
                        <input id="max_col" type="number" class="form-control" min="1" ng-model="gallery.maxColumnNumber" ng-change="checkValidity()" />
                    </div>
                </div>

                <div ng-show="gallery.type === 'advance'">
                    <div class="form-group">
                        <label for="item_show" class="col-sm-3 control-label" translate>gallery.detail.grid</label>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default" ng-click="addRowGrid()" translate>gallery.detail.addRow</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="item_show" class="col-sm-3 control-label" translate>gallery.detail.targetMode</label>
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="gallery.targetMode">
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 10px;">
                        <div ng-repeat="row in gallery.grid" style="display: flex; align-items: center; gap: 10px;">
                            <div>
                                <select class="form-control" ng-model="rowConfig[$index]" ng-change="updateRowColsNb($index, rowConfig[$index])" style="width: 60px;"">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div ng-show="rowConfig[$index]">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                            <div ng-show="rowConfig[$index]" style="display: flex; gap: 5px; border: 1px dashed #576fa1; padding: 10px; flex: 1;">
                                <div ng-repeat="col in row track by $index" ng-style="{'width': 'calc((' + col + ' * (100% - (11 * 5px)) / 12) + ((' + col + ' - 1) * 5px))'}" style="display: flex; justify-content: center; align-items: center; gap: 5px; padding: 5px; background-color: #576fa1;">
                                    <div>
                                        <input type="number" class="form-control" ng-model="row[$index]" ng-change="updateCol($parent.$index, $index)" min="1" style="width: 50px; text-align: center;">
                                        <div ng-show="gallery.targetMode" style="font-size: 0.9rem; color: #fff;"><span translate>gallery.detail.target</span> : {{$parent.$index}}-{{$index}}</div>
                                    </div>
                                    <div >
                                        <img ng-show="gallery.targetMode" ng-src="{{getSrcTargetImagePreview($parent.$index, $index)}}" style="height: 40px;" />
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <button type="button" class="btn btn-danger" style="display: flex; justify-content: center; align-items: center; min-width: 50px; color: #fff;" ng-click="removeRowGrid($index)">
                                    <i class="fa fa-trash" style="display: flex; visibility: visible;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div ng-show="isEditMode" class="row">
                    <div class="col-sm-2 text-center" style="margin-bottom: 30px;padding:15px;">
                        <div class="pointer boxShadow" style="padding-top: 100%; background: #ffffff; border-radius: 4px;" ng-click="openItemModal()">
                            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                <i class="ico-plus-secondary"></i>
                                <h4 style="text-transform: uppercase" translate>gallery.detail.add</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2" style="margin-bottom:30px;padding:15px;" ng-repeat="item in gallery.items | orderBy:'order'">
                        <div class="dropCase" ondragenter="angular.element(this).scope().switchElement(this, 'in')" ondragleave="angular.element(this).scope().switchElement(this, 'out')" ondragstart="angular.element(this).scope().draggingStart(this)" draggable="true" ondragend="angular.element(this).scope().draggingEnd(this)" ns-drag="item" ns-drop="item">
                            <div ng-show="item.src" class="pointer boxShadow" style="padding-top: 100%; background: url({{getImage(item)}}) center; background-size: cover; border-radius: 4px;" ng-click="openItemModal(item)"></div>
                            <div ng-show="item.content" class="video pointer boxShadow" style="padding-top: 100%; background: url(https://img.youtube.com/vi/{{item.content}}/0.jpg) no-repeat center; background-size: cover; border-radius: 4px;" ng-click="openItemModal(item)"></div>
                        </div>
                    </div>
                    <div style="visibility: hidden;display: none;">
                        <button id="dirty-button" type="button" ng-click="form.inputSlider.$setDirty();" style="visibility: hidden;display: none;">Make Dirty</button>
                        <input name="inputSlider" type="text" ng-model="slider.inputForSlider" style="visibility: hidden;display: none;">
                    </div>
                </div>

            </div>
        </ns-buttons>
    </form>
</ns-box>