<ns-box data-title="{{isEditMode ? 'slider.detail.t1' : 'slider.detail.t2'}}" title-icon="fa fa-film fa-lg" close-href="#/component/slider">
    <form name="form" novalidate class="form-horizontal" role="form" ng-submit="save(false)"> <!--style="padding: 100px"-->
        <ns-buttons is-selected="nsUploadFiles.isSelected" is-edit-mode="isEditMode" return-path="/component/slider" form="form" remove="delete()" save="save()" save-and-quit="save(true)" disable-save="disableSave">
            <div class="form-group">
                <label for="code" class="col-sm-3 control-label" translate>slider.detail.code</label>
                <div class="col-sm-7">
                    <input id="code" class="form-control" ng-model="slider.code" ng-change="checkValidity()" />
                    <div class="label label-info">&lt;ns-slider ns-code="{{slider.code}}"&gt;&lt;/ns-slider&gt;</ns-cms></div>
                </div>
            </div>

            <div class="form-group">
                <label for="auto_play" class="col-sm-3 control-label" translate>slider.detail.lecAuto</label>
                <div class="col-sm-2">
                    <ns-switch id="auto_play" ng-model="slider.autoplay" name="auto_play" ng-change="checkValidity()"></ns-switch>
                </div>

                <label for="pause_hover" class="col-sm-3 control-label" translate>slider.detail.hoverPause</label>
                <div class="col-sm-2">
                    <ns-switch id="pause_hover" ng-model="slider.pauseOnHover" name="pause_hover" ng-change="checkValidity()"></ns-switch>
                </div>
            </div>

            <div class="form-group">
                <label for="loop_play" class="col-sm-3 control-label" translate>slider.detail.lecLoop</label>
                <div class="col-sm-2">
                    <ns-switch id="loop_play" ng-model="slider.infinite" name="loop_play" ng-change="checkValidity()"></ns-switch>
                </div>

                <label for="wait_transition" class="col-sm-3 control-label" translate>slider.detail.tps2Defil</label>
                <div class="col-sm-2">
                    <input id="wait_transition" type="number" class="form-control" min="500" ng-model="slider.autoplaySpeed" ng-change="checkValidity()" />
                </div>
            </div>

            <div ng-show="isEditMode">
                <ns-upload-files is-selected="nsUploadFiles.isSelected" accepttype="image/*" multiple="false" type="slider" id="slider._id" entity="null" images="slider.items" after-function="close()"></ns-upload-files>
                <div>
                    <div class="col-sm-2" style="margin-bottom: 30px;padding:15px;cursor:move;" ng-repeat="item in slider.items | orderBy:'order'" >
                        <div class="dropCase" ondragenter="switchElement(this, 'in')" ondragleave="switchElement(this, 'out')" ondragstart="draggingStart(this)" draggable="true" ondragend="draggingEnd(this)" ns-drag="item" ns-drop="item">
                            <div title="{{item.text}}" class="pointer boxShadow" style="cursor:move;padding-top: 100%; background: url({{getImage(item)}}) center; background-size: cover; border-radius:4px"  ng-click="openItemModal(item)"></div>
                        </div>
                    </div>
                </div>
                    <script>
                        var elementInDrag;
                        var pointToElement;
                        var saveURL;
                        var savePointElement;
                        var drop;
                        var inOther;
                        function draggingStart(element){
                            drop = false;
                            elementInDrag = element.childNodes[1].style.backgroundImage;
                            pointToElement = element.childNodes[1];
                            element.childNodes[1].style.opacity = '0.5';
                        }
                        function switchElement(element, where){
                            inOther = false;
                            if(element.childNodes[1] != pointToElement){
                                if(where == 'in'){
                                    inOther = true;
                                    saveURL = element.childNodes[1].style.backgroundImage;
                                    savePointElement = element;
                                    pointToElement.style.backgroundImage = element.childNodes[1].style.backgroundImage;
                                    element.childNodes[1].style.backgroundImage = elementInDrag;
                                    element.parentNode.className += ' fakeDrop';
                                }else if(where == 'out'){
                                    inOther = false;
                                    element.childNodes[1].style.backgroundImage = saveURL;
                                    pointToElement.style.backgroundImage = elementInDrag;
                                    element.parentNode.className = element.parentNode.className.replace('fakeDrop', '');
                                }
                            }
                            
                        }
                        function draggingEnd(element){
                            drop = true;
                            element.childNodes[1].style.opacity = '1';
                            if(inOther){
                                //On switch car on est dans une autre
                                savePointElement.childNodes[1].style.backgroundImage = saveURL;
                                pointToElement.style.backgroundImage = elementInDrag;
                                savePointElement.parentNode.className = savePointElement.parentNode.className.replace('fakeDrop', '');
                            }else{
                                //On remet à zéro
                                savePointElement.childNodes[1].style.backgroundImage = saveURL;
                                pointToElement.style.backgroundImage = elementInDrag;
                                savePointElement.parentNode.className = savePointElement.parentNode.className.replace('fakeDrop', '');
                            }
                        }
                    </script>
                    <style>
                        .fakeDrop{
                            border: 1px dashed rgb(200,200,100);
                            background: rgb(240,240,200);
                            /*background-image: none !important;*/
                        }
                        .opactityBad{
                            opacity: 0.5;
                        }
                    </style>
            </div>
        </ns-buttons>
    </form>
