<ns-box data-title="translation.t1" title-icon="fa fa-flag fa-lg" new-click="editLang()">
    <table class="shortTable table table-bordered">
        <thead>
            <tr>
                <th translate>
                    translation.img
                </th>
                <th translate>
                    translation.code
                </th>
                <th translate>
                    translation.des
                </th>
                <th translate>
                    translation.status
                </th>
                <th translate>
                    translation.act
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    <input type="text" ng-change="getLanguages()" ng-model="filter.code" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='translation.code' class="form-control">
                </th>
                <th>
                    <input type="text" ng-change="getLanguages()" ng-model="filter.name" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='translation.des2' class="form-control">
                
                </th>
                <th>
                    <select ng-model="filter.status" ng-change="getLanguages(page)" class="form-control" type="boolean">
                        <option value="" translate>translation.indiff</option>
                        <option value="visible" translate>translation.visible2</option>
                        <option value="invisible" translate>translation.invisible</option>
                    </select>    
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lang in languages">
                <td data-label="IMG :" class="pointer" ng-click="editLang(lang)"><img style="width: 18px;height: 12px;" ng-src="{{lang.img}}"></td>
                <td data-label="Code :" class="pointer" ng-click="editLang(lang)">{{lang.code}}</td>
                <td data-label="Désignation :" class="pointer" ng-click="editLang(lang)">{{lang.name}}</td>
                <td data-label="Statut :" class="pointer" ng-click="editLang(lang)">
                    <span class="label" ng-class="{'label-success': lang.status == 'visible',
                                        'label-warning': lang.status == 'invisible',
                                        'label-danger': lang.status == 'removing'}">{{lang.status | langStatus}}</span>
                </td>
                <td data-label="Action :" >
                    <label ng-if="lang.defaultLanguage"translate>translation.defLang</label>
                    <a ng-click="removeLang(lang)" ng-if="!lang.defaultLanguage" class="btn btn-red btn-with-icon">
                        <i class="ico-trash"></i>
                        <span class="text" translate>translation.delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</ns-box>