<form name="formModal" class="form-horizontal" novalidate ng-submit="testMail(mailType.translation[adminLang].variables)" role="form">
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <div>
            <div  style="text-align: center; margin: 30px 30px;" translate>
                mail.test.titre
            </div>
            <div style="margin-bottom: 20px;margin-left: 20px;margin-right: 20px;">
                    <label style="max-width:200px" translate>mail.test.expediteur</label>:
                    <input style="display: inline;width: 50%;float: right;" type="text" class="form-control" ng-model="mail.from" ng-required="true">
            </div>
            <div style="margin-bottom: 50px;margin-left: 20px;margin-right: 20px;">
                    <label style="max-width:200px" translate>mail.test.destinataire</label>:
                    <input style="display: inline;width: 50%;float: right;" type="text" class="form-control" ng-model="mail.to" ng-required="true">
            </div>
            <div ng-repeat="var in mailType.translation[adminLang].variables">
                <div style="margin:20px">
                    <label style="max-width:200px">{{var.description}}</label>:
                    <input placeholder="{{'{'+'{'+var.value+'}'+'}'}}" style="display: inline;width: 50%;float: right;" type="text"
                        class="form-control" ng-model="var.text" ng-required="true">
                </div>
            </div>
            <div style="text-align: center;">
                <button ng-disabled="loading" type="button" ng-click="cancel()" class="btn-default" style="padding:0 20px; height: 35px;margin-right:15px" translate="">mail.test.back</button>
                <button ng-disabled="loading" type="submit" class="btn-default" style="padding:0 20px; height: 35px;" translate="">mail.test.envoie</button>
            </div> 
        </div>
    </div>
    <div class="modal-footer"></div>
</form>
