<form name="form" class="form-horizontal">
    <div class="modal-header">
        <span style="font-weight: bold;" translate>medias.modal.title</span>
    </div>
    <div class="modal-body">
        <ns-form-image-cache></ns-form-image-cache>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" translate>translation.cancel</button>

        <button type="button" class="btn btn-default" ng-click="generer()" translate>medias.modal.generate</button>
    </div>
</form>
