<form name="form" class="form-horizontal">
    <div class="modal-header">
        <span style="font-weight: bold;" translate>medias.modal.title</span>
    </div>
    <div class="modal-body">
        <ns-form-image-cache></ns-form-image-cache>
        <hr>
        
        <div class="form-group">
            <div class="col-sm-12">
                <div translate>medias.modal.linkGenerated</div>
                <input id="copy-link" type="text" ng-model="link" readonly class="form-control" style="cursor:default">
            </div>
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" translate>translation.cancel</button>

        <button type="button" class="btn btn-default" ng-click="generate(generer())" translate>medias.modal.generate</button>
    </div>
</form>
