<form name="form" class="form-horizontal" ng-submit="save(static)" role="form">
    <ns-box data-title="static.new.t1" title-icon="fa fa-file-text fa-lg" close-href="#/staticPage">
        <ns-buttons save-and-quit="save(static, true)" disable-save="disableSave" additionnal-buttons="additionnalButtons" return-path="/staticPage" form="form">
            <ns-translation ng-model="lang" class="pull-right"></ns-translation>
            <input type="hidden" value="" name="id" id="template" ng-model="static._id" />

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.new.code</label>
                    <div class="col-sm-4">
                        <input  type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="code" translate translate-attr-placeholder='static.new.ph1'
                            ng-model="static.code" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.active</label>
                    <div class="col-sm-5">
                        <ns-switch id="active" ng-model="static.active" name="active"></ns-switch>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.new.group</label>
                    <div class="col-sm-4">

                        <input-dropdown input-name="group" input-class-name="form-control"
                            filter-list-method="filterDropdown(userInput)" selected-item="selectedDropdownItem"
                            default-dropdown-items="groups" allow-custom-input="true"
                            item-selected-method="itemObjectSelected(item)">
                        </input-dropdown>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.title</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="static.translation[lang].title" translate translate-attr-placeholder='static.detail.title' />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.metaDesc</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="static.translation[lang].metaDesc" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="col-sm-2 control-label" translate>static.detail.slug</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="static.translation[lang].slug" translate translate-attr-placeholder='static.detail.slug' />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" hook-page-new data="static">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class=" col-sm-10 scrollmenu">
                    <ul class="nav nav-tabs" >
                        <li class='active' ng-click="generateContent();selectTab('result')"><a data-toggle="tab" href="#result" target="_self" translate>static.detail.result</a></li>
                        <li ng-click="generateVariables();selectTab('variables')"><a data-toggle="tab" href="#variables" target="_self" translate>static.detail.variables</a></li>
                        <li><a data-toggle="tab" href="#html" target="_self" ng-click="selectTab('html')" translate>static.detail.html</a></li>
                    </ul>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-10 tab-content">
                    <div id="result" class="tab-pane fade in active">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div style="background-color: white; padding: 20px; border-radius: 10px;" ng-bind-html="static.translation[lang].content"></div>
                            </div>
                        </div>
                    </div>
                    <div id="variables" class="tab-pane">
                        <div ng-repeat="var in static.translation[lang].variables">
                            <div class="form-group">
                                <label for="" class="col-sm-1 control-label" style="max-width: 150px;">{{var.label}}</label>
                                <div class="col-sm-11">
                                    <textarea rows="1" class="form-control" ng-model="var.value"></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-show="static.translation[lang].variables.length === 0">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="control-label" translate>static.detail.noVars</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="html" class="tab-pane">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <ns-tinymce ng-if="selectedTab.active == 'html'" lang="lang" text="static.translation[lang].html"></ns-tinymce>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ns-buttons>
    </ns-box>
</form>