<div class="modal-header">
    <ol class="breadcrumb">
        <li style="font-weight: bold;" translate>order-info-payment.payedOrder</li>
    </ol>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-content">
                <form name="form" novalidate class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label" translate>order-info-payment.payType</label>
                            <div class="col-sm-10">
                                <select name="mode" class="form-control" ng-model="return.type" ng-init="return.type = 'CREDIT'" ng-disabled="pay.disabled" required>
                                    <option value="DEBIT" translate>order-info-payment.DEBIT</option>
                                    <option value="CREDIT" translate>order-info-payment.CREDIT</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label" translate>order-info-payment.payMode</label>
                            <div class="col-sm-10">
                                <select name="mode" class="form-control" ng-model="return.mode" required>
                                    <option value="CHEQUE" translate>order-info-payment.cheque</option>
                                    <option value="TRANSFER" translate>order-info-payment.vir</option>
                                </select>
                                <div ng-show="form.mode.$invalid" class="ns-error-message">
                                    <div ng-show="form.mode.$error.required" translate>order-info-payment.fieldReq</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label" translate>order-info-payment.amount</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="amount" name="amount" ng-model="return.amount" step="0.01"  oninput='input(this)'>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label for="comment" class="col-sm-2 control-label" translate>order-info-payment.det</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="comment" name="comment" ng-model="return.comment" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label" translate>order-info-payment.mailCli</label>
                            <div class="col-sm-10">
                                <ns-switch name="sendMail" ng-model="return.sendMail"></ns-switch>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-show="error.text != ''" style="text-align: center" class="col-sm-12 ns-error-message">
                    <hr style="border: 1px solid gray;margin: 15px 10px;"/>
                    <span style="font-weight: bold;font-size: 16px;" translate>{{error.text}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate>order-info-payment.cancel</button>
    <button class="btn btn-default" ng-click="validateInfoPayment()" ng-disabled="form.$invalid" translate>order-info-payment.valider</button>
</div>