<div class="tableWrapperOverflow">
    <table class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable"
        id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr role="row" class="pointer">
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;" translate>
                    attribute.list.code
                </th>
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;">
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse" translate>
                        attribute.list.nom
                        <span ng-show="sortType == 'name' && !sortReverse" class="ico-chevron-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="ico-chevron-up"></span>
                    </a>
                </th>
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;" translate>
                    attribute.list.type
                </th>
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;" translate>
                    attribute.list.jeuxAttrib
                </th>
                <!--<th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
    style="width: 200px;">
    Actions
</th>-->
            </tr>
            <tr role="row">
                <th>
                    <input type="text" ng-change="getAttributesClassed()" ng-model="filter.code"
                        ng-model-options="{debounce: 500}" translate translate-attr-placeholder='attribute.list.code'
                        class="form-control">
                </th>
                <th>
                    <input type="text" ng-change="getAttributesClassed()" ng-model="filter.name"
                        ng-model-options="{debounce: 500}" translate translate-attr-placeholder='attribute.list.nom'
                        class="form-control">
                </th>
                <th>
                    <select ng-model="filter.type" ng-change="getAttributesClassed()" class="form-control"
                        type="boolean">
                        <option value="" selected>Indifferent</option>
                        <option value="textfield" translate>attribute.detail.champTexte</option>
                        <option value="textarea" translate>attribute.detail.zoneTexte</option>
                        <option value="date" translate>attribute.detail.date</option>
                        <option value="bool" translate>attribute.detail.booleen</option>
                        <option value="list" translate>attribute.detail.listeDeroulante</option>
                        <option value="multiselect" translate>attribute.detail.selectionMultiple</option>
                        <option value="interval" translate>attribute.detail.intervalle</option>
                        <option value="image" translate>attribute.detail.image</option>
                        <option value="video" translate>attribute.detail.video</option>
                        <option value="doc/pdf" translate>attribute.detail.fichierPDF</option>
                        <option value="number" translate>attribute.detail.nombre</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" infinite-scroll="scroller.next()"
            infinite-scroll-distance="1" infinite-scroll-immediate-check="true"
            infinite-scroll-disabled='scroller.busy'>
            <tr class="pointer" ng-class-odd="'odd'" ng-class-even="'even'"
                ng-repeat="oneOptions in optionsList | orderBy:sortType:sortReverse">
                <td data-label="Code :" ng-click="clickItem(oneOptions.code)" class="sorting_1">
                    {{oneOptions.code}}</td>
                <td data-label="Nom :" ng-click="clickItem(oneOptions.code)" class="sorting_1">
                    {{oneOptions.name[lang]}}</td>
                <td data-label="Type :" ng-click="clickItem(oneOptions.code)" class="sorting_1">
                    {{oneOptions.type}}</td>
                <td data-label="Jeux d'attributs :" class=" ">
                    <div>
                        <button type="button" style="min-width: 0px" class="btn btn-default"
                            ng-click="loadOptionsSet(oneOptions.code)" translate>
                            options.list.loadOptionsSet
                        </button>
                    </div>
                    <div ng-show="oneOptions.optionsSet && oneOptions.optionsSet.length > 0">
                        <div ng-repeat="oneSet in oneOptions.optionsSet">
                            <p>{{oneSet.name[lang]}} ({{oneSet.code}})</p>
                        </div>
                    </div>
                </td>
                <!--<td class=" ">
                <a href="#/attributes/{{attribute.code}}" class="btn btn-blue btn-with-icon">
                    <i class="ico-magnifier-primary"></i>
                    <span class="text">Modifier</span>
                </a>
                <a ng-click="removeAttribute(attribute)" class="btn btn-red btn-with-icon">
                    <i class="ico-trash"></i>
                    <span class="text">Supprimer</span>
                </a>
            </td>-->
            </tr>
        </tbody>
    </table>
</div>