<div class="form-group flowRoot">
    <label for="code" class="col-sm-3 control-label" translate>attribute.detail.code</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="code" translate translate-attr-placeholder='attribute.detail.ph1'
            ng-model="options.code" ng-disabled="isEditMode" required>
    </div>
</div>
<div class="form-group flowRoot">
    <label for="name" class="col-sm-3 control-label" translate>attribute.detail.nom</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="name" ng-model="options.name[lang]" required>
    </div>
</div>
<div class="form-group flowRoot">
    <label for="name" class="col-sm-3 control-label" translate>options.detail.mandatory</label>
    <div class="col-sm-6">
        <ns-switch name="{{$index}}" ng-model="options.mandatory">
        </ns-switch>
    </div>
</div>
<ns-translation ng-model="lang" class="pull-right"></ns-translation>
<div class="form-group flowRoot">
    <label for="type" class="col-sm-3 control-label" translate>options.type</label>
    <div class="col-sm-6">
        <select class="form-control" name="type" id="type" ng-model="options.type" ng-disabled="isEditMode"
            ng-selected="options.type" ng-change="changeOptionsType()" required>
            <option value="textfield" translate>options.choice.champTexte</option>
            <option value="number" translate>options.choice.nombre</option>
            <option value="list" translate>options.choice.listeDeroulante</option>
            <option value="checkbox" translate>options.choice.checkbox</option>
            <option value="radio" translate>options.choice.radio</option>
            <!--<option value="bool" translate>options.choice.boolean</option>-->
            <!--<option value="interval" translate>options.choice.intervalle</option>-->
            <!--<option value="textarea" translate>options.choice.zoneTexte</option>-->
            <!--<option value="date" translate>options.choice.date</option>-->
            <!--<option value="image" translate>options.choice.image</option>-->
            <!--<option value="video" translate>options.choice.video</option>-->
            <!--<option value="doc/pdf" translate>options.choice.fichierPDF</option>-->
            <option ng-show="_type === 'products'" value="color" translate>options.choice.color</option>
        </select>
    </div>
</div>
<style>
    .blockValue {
        border: 1px solid black;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
    }

    .flowRoot {
        display: flow-root;
    }

    .displayTable {
        display: inline-table;
    }

    .autoWidth {
        width: auto !important;
    }

    .opacity {
        opacity: 0.5;
    }

    .deplacementButton {
        background: black;
        color: #ffffff;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        padding: 6px;
        line-height: 100%;
        vertical-align: middle;
        margin: 10px;
    }

    .deplacementButton:hover {
        cursor: move;
    }
</style>
<div class="form-group flowRoot">
    <label for="type" class="col-sm-3 control-label" translate>options.values.list</label>
    <div class="col-sm-10" style="float: none;margin: auto;">
        <div class="row form-group"
            ng-if="options.type === 'list' || options.type === 'radio' || options.type === 'checkbox'">
            <div class="col-sm-12">
                <button class="btn btn-default" type="button" ng-click="addValue()" translate>options.addValue</button>
                <label ng-show="valuesError" class="btn"
                    style="cursor: default; color: #ff0000;">{{valuesError}}</label>
            </div>
        </div>
        <div class="row form-group" ng-repeat="oneValue in options.values">
            <div class="form-group blockValue col-sm-12" style="margin: 10px; padding:0px"
                ondragenter="angular.element(this).scope().switchElement(this, 'in')"
                ondragleave="angular.element(this).scope().switchElement(this, 'out')">
                <input style="visibility: hidden;" value={{$index}} />
                <div class="col-sm-2" style="float: right;">
                    <button type="button" class="deplacementButton"
                        ondragstart="angular.element(this).scope().draggingStart(this.parentElement.parentElement)"
                        ondragend="angular.element(this).scope().draggingEnd(this.parentElement.parentElement)"
                        draggable="true" ns-drag="oneValue" ns-drop="oneValue">
                    </button>
                </div>
                <div class=" form-group col-sm-10 flowRoot">
                    <label for="param" class="col-sm-3 control-label" translate>options.values.name</label>
                    <input class="form-control col-sm-8 autoWidth" type="text"
                        ng-change="verifName(oneValue.name[lang])" ng-model="oneValue.name[lang]">
                </div>
                <div class="form-group col-sm-10 flowRoot"
                    ng-if="options.type === 'list' || options.type === 'radio' || options.type === 'checkbox'">
                    <label for="param" class="col-sm-3 control-label" translate>options.values.isDefault</label>
                    <div class="col-sm-8">
                        <ns-switch name="{{$index}}" ng-change="checkedIsChanged($index)"
                            ng-model="oneValue.control.checked">
                        </ns-switch>
                    </div>
                </div>
                <div class="form-group col-sm-10 flowRoot" ng-if="options.type == 'textfield'">
                    <label for="param" class="col-sm-3 control-label displayTable"
                        translate>options.values.minLen</label>
                    <input class="form-control col-sm-8 autoWidth" min="0" type="number"
                        ng-model="oneValue.control.min">
                </div>
                <div class="form-group col-sm-10 flowRoot" ng-if="options.type == 'textfield'">
                    <label for="param" class="col-sm-3 control-label displayTable"
                        translate>options.values.maxLen</label>
                    <input class="form-control col-sm-8 autoWidth" min="0" type="number"
                        ng-model="oneValue.control.max">
                </div>
                <div class="form-group col-sm-10 flowRoot">
                    <label for="param" class="col-sm-3 control-label displayTable"
                        translate>options.values.price</label>
                    <input class="form-control col-sm-8 autoWidth" type="number"
                        ng-model="oneValue.modifier.price.value">
                    <label for="param" class="col-sm-2 control-label displayTable"
                        translate>options.values.typePrice</label>
                    <select class="form-control col-sm-8 autoWidth" ng-model="oneValue.modifier.price.typePrice">
                        <option value="pourcent" translate>options.values.typePriceChoice.pourcent</option>
                        <option value="price" translate>options.values.typePriceChoice.price</option>
                    </select>
                </div>
                <div class="form-group col-sm-10 flowRoot">
                    <label for="param" class="col-sm-3 control-label displayTable"
                        translate>options.values.weight</label>
                    <input class="form-control col-sm-8 autoWidth" type="number" ng-model="oneValue.modifier.weight">
                </div>
                <div class="col-sm-2" style="float: right;"
                    ng-if="options.type === 'list' || options.type === 'radio' || options.type === 'checkbox'">
                    <button type="button" class="smallButtonDelete" ng-click="removeValue($index)">-
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>