<div class="box boxTop">
    <div class="box-header fsbox" style="border-right: 1px solid #ddd;">
        <h2>
            <span class="icon" ng-if="titleIcon">
                <i class="{{titleIcon}} i-title-style"></i>
            </span>
            <span translate translate-values="translateValues">{{title}}</span>
            <ul class="list-actions  ico-tittle-mobile">
                <li ng-if="hasClose">
                    <a ng-href="{{closeHref}}" ng-click="closeClick()"><i class="ico-close"></i></a>
                </li>
                <li ng-if="hasEdit">
                    <a ng-href="{{editHref}}" ng-click="editClick()"><i class="ico-pen"></i></a>
                </li>
                <li ng-if="hasAdd">
                    <a ng-href="{{addHref}}" ng-click="addClick()"><i class="ico-add"></i></a>
                </li>

                <li ng-if="hasMassClick">
                    <a class="btn btn-transparent btn-setting" ng-click="massClick()">
                        <i class="ico-plus-small"></i>
                        <span translate>medias.medias.uploadButton</span>
                    </a>
                </li>

                <li ng-if="hasNew">
                    <a class="btn btn-transparent btn-setting" ng-href="{{newHref}}" ng-click="newClick()">
                        <i class="ico-plus-small"></i>
                        <span translate>ns.new</span>
                    </a>
                </li>
            </ul>
        </h2>
        <div class="box-header-actions">
            <ul class="list-actions  ico-tittle-pc">
                <li ng-if="hasClose">
                    <a ng-href="{{closeHref}}" ng-click="closeClick()"><i class="ico-close"></i></a>
                </li>
                <li ng-if="hasEdit">
                    <a ng-href="{{editHref}}" ng-click="editClick()"><i class="ico-pen"></i></a>
                </li>
                <li ng-if="hasAdd">
                    <a ng-href="{{addHref}}" ng-click="addClick()"><i class="ico-add"></i></a>
                </li>
                <li ng-if="hasMassClick">
                    <a class="btn btn-transparent btn-setting" ng-click="massClick()">
                        <i class="ico-plus-small"></i>
                        <span translate>medias.medias.uploadButton</span>
                    </a>
                </li>
                <li ng-if="hasNew">
                    <a class="btn btn-transparent btn-setting" ng-href="{{newHref}}" ng-click="newClick()">
                        <i class="ico-plus-small"></i>
                        <span translate>ns.new</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="box-content">
        <div ng-if="help" style="text-align:center;width:80%;background-color:#D9EDF7; margin:0 auto 20px auto; padding:20px;color:#3F89B4;font-weight: bold;">
            <i style="cursor:pointer;float:right;color:right;font-weight: bold;" ng-click="hideAdvice(type)" translate>ns.help.hide</i>
            <i class="fa fa-info-circle fa-lg" style="float:left" aria-hidden="true"></i><p translate translate-values='{{translationValues}}'>{{translation}}</p>
        </div>
        <div ng-transclude></div>
    </div>
</div>