<form name="form" novalidate class="form-horizontal" role="form" ng-submit="saveProduct(product, false)">
    <ns-box data-title="bundle.t1" title-icon="fa fa-cubes fa-lg" close-href="#/products">
        <ns-buttons show-duplicate="true"
                    is-edit-mode="isEditMode"
                    is-selected="nsUploadFiles.isSelected"
                    return-path="/products"
                    form="form"
                    remove="removeProduct(product._id)"
                    save-and-quit="saveProduct(product, true)"
                    disable-save="disableSave"
                    additionnal-buttons="additionnalButtons"
                    more-buttons="moreButtons">
            <ns-translation ng-model="lang" class="pull-right"></ns-translation>
            <div class="scrollmenu">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#general" target="_self" translate>bundle.product.gen</a></li>
                    <li><a data-toggle="tab" href="#marketing" target="_self" translate>bundle.product.mark</a></li>
                    <li><a data-toggle="tab" href="#bundle_sections" target="_self" translate>bundle.product.compo</a></li>
                    <li><a data-toggle="tab" href="#prix" target="_self" translate>bundle.product.price</a></li>
                    <li><a data-toggle="tab" href="#photos" target="_self" translate>bundle.product.pics</a></li>
                    <li><a data-toggle="tab" href="#cross_selling" target="_self" translate>bundle.product.cs</a></li>
                    <li><a data-toggle="tab" href="#promos" target="_self" translate>bundle.product.promos</a></li>
                    <li><a data-toggle="tab" href="#attributes" target="_self" translate>bundle.product.specAttr</a></li>
                    <li><a data-toggle="tab" href="#categoriesLink" target="_self" translate>bundle.product.linkedCat</a></li>
                    <li ng-repeat="tab in additionnalTabs">
                        <a data-toggle="tab" href="{{tab.href}}" target="_self" translate="{{tab.title}}"></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="general" class="tab-pane fade in active">
                    <ns-product-general product="product" lang="lang" is-edit-mode="isEditMode" product-type="'bundle'" form="form"></ns-product-general>
                </div>

                <div id="marketing" class="tab-pane fade">
                    <ns-product-marketing id="productMarketing" ng-model="product" init="init" form="form"></ns-product-marketing>
                    <!-- <ns-cms-blocks product="product" form="form"></ns-cms-blocks> -->
                </div>

                <div id="bundle_sections" class="tab-pane fade">
                    <div class="row" style="margin-bottom: 10px">
                        <button type="button" class="btn btn-default pull-right" style="width: 120px" ng-click="addBundleSection()" translate>
                            bundle.product.addSec
                        </button>
                    </div>

                    <div ng-repeat="section in product.bundle_sections track by $index">
                        <hr style="border-top: 2px solid #000000" />
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" ng-click="removeBundleSection(section)" translate>bundle.product.delSec</button>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.ref</label>
                                        <div class="col-sm-8" style="padding-top: 7px">
                                            {{section.ref}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.type</label>
                                        <div class="col-sm-8" style="padding-top: 7px">
                                            {{section.type | bundleSectionType}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.title</label>
                                        <div class="col-sm-8" style="padding-top: 7px">
                                            <input type="text" class="form-control" ng-model="section.title">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="section.type === 'SINGLE'">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.displayMode</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="section.displayMode" ng-options="mode.code as mode.name for mode in displayModes" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.requis</label>
                                        <div class="col-sm-8">
                                            <ns-switch name="section_required_{{$index}}" ng-model="section.isRequired"></ns-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="section.type === 'MULTIPLE'">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.minSel</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" ng-model="section.minSelect" min="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" translate>bundle.product.maxSel</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" ng-model="section.maxSelect" min="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="addBundleProduct(section)" translate>bundle.product.addPdt</button>
                        </div>
                        <table class="table table-striped table-bordered" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <!--<th style="width: 10px;">
                                        <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/>
                                    </th>-->
                                    <th translate>bundle.product.picture</th>
                                    <th translate>bundle.product.pdt</th>
                                    <th translate>bundle.product.modifierPrice.et</th>
                                    <th translate>bundle.product.modifierPrice.ati</th>
                                    <th translate>bundle.product.modifierWeight</th>
                                    <!--<th>Valeur par défaut</th>-->
                                    <th translate>bundle.product.act</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="__product in section.products">
                                    <td>
                                        <img ng-src="{{__product.id.images[0].url}}" class="no-product-image" style="width:120px" ng-style="!(__product.id.images[0].url) ? {'height':'90px'} :{}">
                                    </td>
                                    <td>
                                        {{__product.id.translation[lang].name}}
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" type="number" name="modifier_price_et_{{$index}}_{{__product._id}}" ng-model="__product.modifier_price.et" step="0.01" ng-change="recalculate('modifier_price.et', __product)">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" type="number" name="modifier_price_ati_{{$index}}_{{__product._id}}" ng-model="__product.modifier_price.ati" step="0.01" ng-change="recalculate('modifier_price.ati', __product)">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" type="number" name="modifier_weight_{{$index}}_{{__product._id}}" ng-model="__product.modifier_weight">
                                            </div>
                                        </div>
                                    </td>
                                    <!--<td>
                                        <input type="{{section.type === 'SINGLE' ? 'radio' : 'checkbox'}}" name="section_products_{{$parent.$index}}" ng-model="product.isDefault" />
                                    </td>-->
                                    <td>
                                        <a ng-click="removeBundleProduct(section, __product)" class="btn btn-red">
                                            <i class="ico-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="prix" class="tab-pane fade">
                    <ns-product-price ng-model=product form="form"></ns-product-price>
                </div>

                <div id="photos" class="tab-pane fade">
                    <ns-product-photo is-selected="nsUploadFiles.isSelected" ng-model=product form="form"></ns-product-photo>
                </div>

                <div id="cross_selling" class="tab-pane fade">
                    <ns-product-cross-selling product=product form="form" lang="lang" is-edit-mode="isEditMode"></ns-product-cross-selling>
                </div>

                <div id="promos" class="tab-pane fade">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        
                        <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'name'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.nom
                                            <span ng-show="sort.type == 'name' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'name' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'type'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.type
                                            <span ng-show="sort.type == 'type' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'type' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'dateStart'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateDeb
                                            <span ng-show="sort.type == 'dateStart' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'dateStart' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'dateEnd'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateFin
                                            <span ng-show="sort.type == 'dateEnd' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'dateEnd' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'createdAt'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.dateCre
                                            <span ng-show="sort.type == 'createdAt' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'createdAt' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'priority'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.detail.priority
                                            <span ng-show="sort.type == 'priority' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'priority' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'applyNextRules'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.detail.applyNextRules
                                            <span ng-show="sort.type == 'applyNextRules' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'applyNextRules' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 200px;">
                                        <a ng-click="sort.type = 'actif'; sort.reverse = !sort.reverse; PromoGetById(1);" translate>
                                            promo.list.actif
                                            <span ng-show="sort.type == 'actif' && !sort.reverse" class="ico-chevron-down"></span>
                                            <span ng-show="sort.type == 'actif' && sort.reverse" class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="pointer" ng-click="detail(promo)" ng-repeat="promo in promos" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td>{{promo.name}}</td>
                                    <td>{{promo.type === "1" ? "Panier" : "Catalogue"}}</td>
                                    <td>{{ momentDate(promo.dateStart) }}</td>
                                    <td>{{ momentDate(promo.dateEnd) }}</td>
                                    <td>{{ momentDate(promo.createdAt) }}</td>
                                    <td>{{promo.priority}}</td>
                                    <td>{{promo.applyNextRules ? "Oui" : "Non"}}</td>
                                    <td>{{promo.actif ? "Actif" : "Non actif"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="attributes" class="tab-pane fade">
                    <h3 style="display: inline"><span translate>bundle.product.attrJeux</span> '{{ product.set_attributes_name }}'</h3>
                    <span ng-show="product.code == null" style="color: red;">
                        <br /><br />
                        <span translate>bundle.product.idFirst</span>
                    </span>
                    <div class="form-group" style="margin-top: 20px;" ng-show="product.code != null">
                        <div class="form-group" ng-show="product.code != null">
                            <div class="col-sm-11">
                                <label for="set_attributes" class="col-sm-2 control-label" translate>product.general.jeuAttr</label>
                                <div class="col-sm-6">
                                    <select id="set_attributes" name="set_attributes" class="form-control"
                                        ng-options="setAttr as setAttr.name for setAttr in setAttributes track by setAttr.code"
                                        ng-model="product.set_attributes" ng-change="loadNewAttrs()">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <ns-attributes ng-show="product.attributes && product.attributes.length" class="col-sm-11" ng-if="att.type" ng-repeat="att in product.attributes | orderBy: ['position','name']" style="margin-top: 20px;"></ns-attributes>
                        <p ng-show="!product.attributes || !product.attributes.length" class="col-sm-11" style="margin-top: 20px;"><em>Pas d'attributes</em></p>
                    </div>
                </div>

                <div id="categoriesLink" class="tab-pane fade">
                    <h3 style="display: inline" translate>bundle.product.linkedCat</h3>
                    <ns-product-categories product="product" lang="lang" is-edit-mode="isEditMode" product-type="'bundle'"></ns-product-categories>
            </div>
            <div ng-repeat="tab in additionnalTabs" id="{{tab.id}}" class="tab-pane fade">
                <h3 style="display: inline" translate="tab.title"></h3>
                <div class="form-group" style="margin-top: 20px;">
                    <div bind-html-compile="tab.content"></div>
                </div>
            </div>
            <!-- <ul class="nav nav-tabs">
                 <li ng-repeat="(key, value) in translation" ng-class="{active: (key == language)}"><a  ng-click="changelanguage(key)" data-toggle="tab">{{key}}</a></li>
             </ul>

             <div ng-repeat="(key, product) in translation" ng- ng-show="key == language">

             </div>-->
        </ns-buttons>
    </ns-box>
</form>