<ns-box data-title="setAttribute.detail.t1" title-icon="fa fa-align-justify fa-lg" close-href="#/optionsSet">
    <!--'{{ setAttribute.code }}'-->
    <form name="form" class="form-horizontal" role="form">
        <ns-buttons is-edit-mode="true" save-and-quit="save(true)" save="save()" disable-save="disableSave"
            return-path="/optionsSet" remove="remove(setAttribute._id)" form="form">
            <div class="scrollmenu">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" target="_self" href="#details"
                            translate>setAttribute.detail.tab.setAttr</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="details" class="tab-pane fade in active">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" translate>optionsSet.detail.code</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="code" ng-model="optionsSet.code" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" translate>optionsSet.detail.name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="name" ng-model="optionsSet.name[lang]" required>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" ng-click="createOptions()"
                        translate>attribute.detail.addValeur</button>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid"
                        style="margin-top: 20px;">
                        <table
                            class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable"
                            id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row" class="pointer">
                                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                        colspan="1" style="width: 200px;" aria-sort="ascending" translate>
                                        optionsSet.detail.code
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                        colspan="1" style="width: 200px;" aria-sort="ascending">
                                        <a ng-click="sortType = 'name'; sortReverse = !sortReverse" translate>
                                            optionsSet.detail.nom
                                            <span ng-show="sortType == 'name' && !sortReverse"
                                                class="ico-chevron-down"></span>
                                            <span ng-show="sortType == 'name' && sortReverse"
                                                class="ico-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                        colspan="1" style="width: 200px;" aria-sort="ascending" translate>
                                        setAttribute.detail.type
                                    </th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" infinite-scroll="scroller.next()"
                                infinite-scroll-distance="1" infinite-scroll-immediate-check="true"
                                infinite-scroll-disabled='scroller.busy'>
                                <tr class="pointer" ng-class-odd="'odd'" ng-class-even="'even'"
                                    ng-click="goToAttributeDetails(attribute.code,setAttribute.code)"
                                    ng-repeat="attribute in att | orderBy:sortType:sortReverse">
                                    <td data-label="Code :" class="sorting_1">{{attribute.code}}</td>
                                    <td data-label="Nom :" class="sorting_1">{{attribute.translation[defaultLang].name}}
                                    </td>
                                    <td data-label="Type :" class="sorting_1">{{attribute.type}}</td>
                                    <!--<td class=" ">
                                                <a href="#/attributes/{{attribute.code}}" class="btn btn-blue btn-with-icon">
                                                    <i class="ico-magnifier-primary"></i>
                                                    <span class="text">Modifier</span>
                                                </a>
                                            </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ns-buttons>
    </form>
</ns-box>