<ns-box data-title="site.articles.t1" title-icon="fa fa-newspaper-o fa-lg" new-href="#/site/articles/new">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid" hook-articles-list>
        <table class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
                <tr role="row" style="cursor: pointer">
                    <th role="columnheader" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30%">
                        <a ng-click="sort.type = 'title'; sort.reverse = !sort.reverse" translate>
                            site.articles.title
                            <span ng-show="sort.type == 'title' && !sort.reverse" class="ico-chevron-down"></span>
                            <span ng-show="sort.type == 'title' && sort.reverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 40%">
                        <a ng-click="sort.type = 'slug'; sort.reverse = !sort.reverse" translate>
                            site.articles.urlKey
                            <span ng-show="sort.type == 'slug' && !sort.reverse" class="ico-chevron-down"></span>
                            <span ng-show="sort.type == 'slug' && sort.reverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 20%">
                        <a ng-click="sort.type = 'createdAt'; sort.reverse = !sort.reverse" translate>
                            site.articles.creaDate
                            <span ng-show="sort.type == 'createdAt' && !sort.reverse" class="ico-chevron-down"></span>
                            <span ng-show="sort.type == 'createdAt' && sort.reverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" rowspan="1" colspan="2" style="width: 10%">
                        <a ng-click="sort.type = 'isVisible'; sort.reverse = !sort.reverse" translate>
                            site.articles.visible
                            <span ng-show="sort.type == 'isVisible' && !sort.reverse" class="ico-chevron-down"></span>
                            <span ng-show="sort.type == 'isVisible' && sort.reverse" class="ico-chevron-up"></span>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="text" ng-change="getArticles(page)" ng-model="filter.title" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='site.articles.title' class="form-control">
                    </th>
                    <th>
                        <input type="text" ng-change="getArticles(page)" ng-model="filter.slug" ng-model-options="{debounce: 500}" translate translate-attr-placeholder='site.articles.urlKey' class="form-control">
                    </th>
                    <th>
                        <ns-datepicker name="min_createdAt" class="fullDatepicker form-datepicker" style="display: inline-block; width: 45%" ng-model="filter.min_createdAt" ng-change="getArticles(page)">
                        </ns-datepicker>
                    </th>
                    <th>
                        <select ng-model="filter.isVisible" ng-change="getArticles(page)" class="form-control" type="boolean">
                            <option value="" translate>site.articles.indiff</option>
                            <option value="true" translate>site.articles.yes</option>
                            <option value="false" translate>site.articles.no</option>
                        </select>
                    </th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="pointer"
                    ng-class-odd="'odd'" ng-class-even="'even'"
                    ng-click="goToArticleDetails(articles._id)"
                    ng-repeat="articles in listArticles |orderBy:sort.type:sort.reverse">
                    <td data-label="Titre :" class=" sorting_1 ">
                        {{articles.translation[defaultLang].title}}
                    </td>
                    <td data-label="Slug :" class=" sorting_1 ">
                        {{articles.translation[defaultLang].slug}}
                    </td>
                    <td data-label="Date de création :">
                        {{momentDate(articles.createdAt)}}
                    </td>
                    <td data-label="Visible :">
                        <span ng-bind-html='articles.isVisible | checked'></span>
                    </td>
                    <!-- <td>
                        <a href="#/site/articles/detail/{{articles.slug}} " class="btn btn-blue btn-with-icon ">
                            <i class="ico-magnifier-primary "></i>
                            <span class="text ">Consulter</span>
                        </a>
                        <button ng-click="remove(articles) " class="btn btn-red btn-with-icon ">
                            <i class="ico-trash "></i>
                            <span class="text ">Supprimer</span>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <pagination total-items="totalArticles" page="page" on-select-page="getArticles(page)" items-per-page="nbItemsPerPage"
            max-size="maxSize" boundary-links="true" rotate="false"></pagination>
    </div>
</ns-box>