<ns-box data-title="ns.list.t1" title-icon="fa fa-shopping-cart fa-lg">
    <div class="box-content" hook-newletter-list>
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">

            <table class="shortTable table table-striped table-bordered table-hover bootstrap-datatable datatable dataTable" style="width:60%">
                <thead>
                    <tr role="row">
                        <th class="col-sm-6" style="text-align: center">
                            <a ng-click="sort.type = 'segment.name'; sort.reverse = !sort.reverse; getNewsletters(1);">
                                <span translate>ns.list.name</span>
                                <span ng-show="sort.type == 'segment.name' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'segment.name' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                        <th class="col-sm-3" style="text-align: center">
                            <a ng-click="sort.type = 'segment.name'; sort.reverse = !sort.reverse; getNewsletters(1);">
                                <span translate>ns.list.numberMail</span>
                                <span ng-show="sort.type == 'segment.name' && !sort.reverse" class="ico-chevron-down"></span>
                                <span ng-show="sort.type == 'segment.name' && sort.reverse" class="ico-chevron-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="pointer" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="goToNewsletterDetails(newsletter.name)" ng-repeat="newsletter in newsletters">
                        <td data-label="Nom :">{{newsletter.name}}</td>
                        <td data-label="Nb email :">{{newsletter.count}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <pagination total-items="totalItems" page="currentPage" on-select-page="getNewsletters(page)" items-per-page="nbItemsPerPage" max-size="maxSize" boundary-links="true"
                        rotate="false"></pagination>
        </div>
    </div>
</ns-box>