/* Footer
=================================================================== */
footer {
	background: @darkGrey;
	color: white;
	height: 40px;
	padding: 12px 20px 20px 20px!important;
	margin: 0 !important;
	position: relative;
	z-index: 1;
	font-size: 12px;
	
	a {
		color: white;
		font-weight: bold;
	}
}