<div class="modal-header">
    <ol class="breadcrumb">
        <li style="font-weight: bold;" translate>order-rma.retour</li>
    </ol>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-content">
                <form name="form" novalidate class="form-horizontal" role="form">
                    <div  style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th translate>order-rma.art</th>
                                <th class="aligntop" translate>order-rma.puTTC</th>
                                <th class="aligntop" translate>order-rma.totalTTC</th>
                                <th class="aligntop" translate>order-rma.qt</th>
                                <th>
                                    <span translate>order-rma.qt</span><br />
                                    <small><span translate>order-rma.exp</span></small>
                                </th>
                                <th>
                                    <span translate>order-rma.qt</span><br />
                                    <small><span translate>order-rma.ret</span></small>
                                </th>
                                <th>
                                    <span translate>order-rma.qt</span><br />
                                    <small><span translate>order-rma.aret</span></small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in order.items">
                                <td>
                                    <div class="details-box">
                                        <span class="name">{{item.name}}</span>
                                        <span class="name">({{item.code}})</span>
                                        <br />
                                        <span class="trademark">{{item.trademark.name}}</span>
                                    </div>
                                </td>
                                <td ng-hide="item.price.special.ati === undefined" class="text-right">
                                    <span class="old-price">{{item.price.unit.ati | number:2}} €</span>
                                    {{item.price.special.ati | number:2}} €
                                </td>
                                <td ng-show="item.price.special.ati === undefined" class="text-right">
                                    {{item.price.unit.ati | number:2}} €
                                </td>
                                <td class="text-right">{{item.price.total.ati.aqlRound(2)}} €</td>
                                <td class="text-right">{{item.quantity}}</td>
                                <td class="text-right">{{return.products[$index].qty_shipped ? return.products[$index].qty_shipped : "0"}}</td>
                                <td class="text-right">{{return.products[$index].qty_returned ? return.products[$index].qty_returned : "0"}}</td>
                                <td class="text-right">
                                    <input type="number" name="input[{{item._id}}]" min="0" ng-model="return.products[$index].qty_returning" ng-change="setQty()"
                                           style="width: 40px; border: 1px solid gray; text-align: right; padding: 0px 2px;" />
                                    <span class="pointer" ng-click="setQty($index)" style="margin-left: 5px; font-size: 12px;" translate>order-rma.all</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-repeat="discount in order.discount" ng-if="discount.discountCode">
                                <td colspan="2">{{discount.discountCode}}</td>
                                <td class="text-right">{{-discount.priceATI}} €</td>
                            </tr>
                            <tr>
                                <td colspan="2" translate>order-rma.fdp</td>
                                <td class="text-right">{{order.delivery.price.ati}} €</td>
                            </tr>
                            <tr>
                                <td colspan="2" translate>order-rma.totalComm</td>
                                <td class="text-right">{{order.priceTotal.ati.aqlRound(2)}} €</td>
                            </tr>
                            <tr>
                                <td colspan="2" translate>order-rma.aRemb</td>
                                <td class="text-right">
                                    <input type="number" ng-model="return.refund" name="refund" min="0" style="width: 60px; border: 1px solid gray; text-align: right; padding: 0px 2px;"> €
                                </td>
                                <td>
                                    dont <select name="tax" id="tax" ng-model="return.tax" ng-options="tax.rate as tax.rate for tax in taxerate">
                                    </select>% de TVA
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
                    <div class="row">
                        <div ng-if="return.refund > 0" class="form-group">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label" translate>order-rma.modeRemb</label>
                                <div class="col-sm-10">
                                    <select name="mode" class="form-control" ng-model="return.mode" required>
                                        <option value="CB" translate>order-rma.cb</option>
                                        <option value="CHEQUE" translate>order-rma.cheque</option>
                                        <option value="TRANSFER" translate>order-rma.vir</option>
                                        <option value="CASH" translate>order-rma.esp</option>
                                    </select>
                                    <div ng-show="form.mode.$invalid" class="ns-error-message">
                                        <div ng-show="form.mode.$error.required" translate>order-rma.fieldReq</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="comment" class="col-sm-2 control-label" translate>order-rma.raison</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="comment" name="comment" ng-model="return.comment" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="col-sm-6 control-label" translate>order-rma.retStock</label>
                                        <div class="col-sm-6">
                                            <ns-switch name="in_stock" ng-model="return.in_stock"></ns-switch>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="col-sm-6 control-label" translate>order-rma.mailCli</label>
                                        <div class="col-sm-6">
                                            <ns-switch name="sendMail" ng-model="return.sendMail"></ns-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="packagePluginHook.length > 0" style="display:flow-root" ng-repeat="onePackagePlugin in packagePluginHook">
                        <hr style="border: 1px solid gray;margin: 15px 10px;"/>
                        <div bind-html-compile="onePackagePlugin.component_template"></div>
                    </div>
                </form>
                <div ng-show="loadingAdd" style="text-align: center;">
                    <div class="fa fa-spinner fa-spin" style="font-size: 50px;"></div>
                </div>
                <div ng-show="error.text != ''" style="text-align: center" class="col-sm-12 text-left ns-error-message">
                    <hr style="border: 1px solid gray;margin: 15px 10px;"/>
                    <span style="font-weight: bold;font-size: 16px;" translate>{{error.text}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="cancelItem()" ng-disabled="disabledButton" translate>order-rma.remb</button>
    <button class="btn btn-danger" ng-click="cancel()" translate>order-rma.cancel</button>
</div>