<div class="modal-header" id="modalAddress">
    <ol class="breadcrumb">
        <li style="font-weight: bold;" translate>order.detail.modifyAddress</li> : {{type}}
    </ol>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-content">
                <form name="form" novalidate class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.civility.text</label>
                            <div class="col-sm-9">
                                <select class="form-control" type="text" value="{{order.addresses[type].civility}}" ng-model="order.addresses[type].civility">
                                    <option value="0" translate>order.detail.civility.0</option>
                                    <option value="1" translate>order.detail.civility.1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.firstname</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].firstname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.lastname</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].lastname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.companyName</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].companyName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.line1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].line1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.line2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].line2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.phone_mobile</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].phone_mobile">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.zipcode</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.city</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control ng-pristine ng-touched" ng-model="order.addresses[type].city">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12" style="margin:10px 0">
                            <label class="col-sm-3 control-label" translate>order.detail.country</label>
                            <div class="col-sm-9">
                                <select ng-model="order.addresses[type].isoCountryCode" class="form-control">
                                    <option ng-repeat="country in countries.datas" value="{{country.code}}">
                                        {{country.translation[adminLang].name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-show="error" class="col-sm-12 col-md-7 text-left ns-error-message">{{error}}</div>
    <button class="btn btn-default" ng-click="cancel()" translate>order-info-payment.cancel</button>
    <button class="btn btn-default" ng-click="save()" ng-disabled="form.$invalid" translate>order.detail.save</button>
</div>