{
    "{{environnement}}" : {
        "encryption" : {
            "method"   : "aes128",
            "password" : "{{cipherKey}}"
        },
        "jwt" : {
            "secret"  : "{{secretKey}}",
            "options" : {
                "session" : true
            }
        },
        "ssl": {
            "active": false,
            "key": "",
            "cert": ""
        },
        "logs": {
          "type": {
            "console": true,
            "file": false,
            "graylog": false
          },
          "http": false,
          "override": false,
          "alertMails": false,
          "config": {
            "host": "DOMAIN_NAME",
            "port": "12201"
          }
        },
        "devMode": {
            "compile": true,
            "mailTo": ""
        }
    }
}
