{
    "{{environnement}}" : {
        "jwt" : {
            "secret"  : "{{secretKey}}",
            "session" : {
                "session" : true
            }
        },
        "useJwt" : true,
        "front"  : "react"
    }
}
