<ns-box data-title="trademark.detail.t1" title-icon="fa fa-creative-commons fa-lg" close-href="#/trademarks">
    <form name="form" class="form-horizontal" novalidate ng-submit="save(trademark)" role="form">
        <ns-buttons is-edit-mode="true" remove="removeTrademark(trademark)" save-and-quit="save(trademark,true)"
                    disable-save="disableSave" return-path="/trademarks" form="form">

                    
            <table id="user" class="table table-bordered table-striped" style="clear: both">
                <tbody>
                    <tr>
                        <td translate>trademark.detail.code</td>
                        <td>
                            {{trademark.code}}
                        </td>
                    </tr>
                    <tr>
                        <td translate>trademark.detail.nom</td>
                        <td>
                            <input type="text" class="form-control" ng-model="trademark.name">
                        </td>
                    </tr>

                    <tr>
                        <td translate>trademark.detail.active</td>
                        <td>
                            <ns-switch name="active" ng-model="trademark.active"></ns-switch>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td translate>trademark.detail.creaDate</td>
                        <td>{{trademark.createdAt | date}}</td>
                    </tr> -->
                </tbody>
            </table>
        </ns-buttons>
    </form>        
</ns-box>