<ns-box data-title="trademark.detail.t2" title-icon="fa fa-creative-commons fa-lg" new-href="#/trademarks/new">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="dataTables_filter">
                    <label>
                        <input type="search" ng-model="query" ng-model-options="{debounce: 500}" ng-change="search()" name="q" id="q" value="" placeholder="Rechercher…" class="search-field">
                    </label>
                </div>
            </div>
        </div>-->
        <table class="shortTable table table-striped table-bordered bootstrap-datatable datatable dataTable"
               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr role="row" style="cursor: pointer">
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;" aria-sort="ascending"
                    aria-label="Username: activate to sort column descending">
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Nom
                        <span ng-show="sortType == 'name' && !sortReverse" class="ico-chevron-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="ico-chevron-up"></span>
                    </a>
                </th>
                <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 200px;" aria-label="Date registered: activate to sort column ascending">
                    <a ng-click="sortType = 'active'; sortReverse = !sortReverse">
                        Etats
                        <span ng-show="sortType == 'active' && !sortReverse" class="ico-chevron-down"></span>
                        <span ng-show="sortType == 'active' && sortReverse" class="ico-chevron-up"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all"
                   infinite-scroll="scroller.next()" infinite-scroll-distance="1"
                   infinite-scroll-immediate-check="true"
                   infinite-scroll-disabled='scroller.busy'>
            <tr ng-class-odd="'odd'" ng-class-even="'even'"
                ng-repeat="trademark in trademarks | orderBy:sortType:sortReverse"
                ng-click="editTrademark(trademark)"
                style="cursor: pointer;">
                <td data-label="Nom :" class="  sorting_1">{{trademark.name}}</td>
                <td data-label="Etat :" class=" ">
                    <span ng-bind-html='trademark.active | checked'></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ns-box>