<div>
    <div class="row position text-right" style="margin-bottom: 25px;padding: 0 10px;">
        <ns-return-button is-selected="isSelected" style="pointer-events:auto;float:left" form="form" return-path="{{returnPath}}" ng-hide="hideReturn"></ns-return-button>

        <button style="pointer-events:auto" type="submit" class="btn btn-success" ng-disabled="disableSave" ng-hide="hideSave"><span translate>ns.save</span><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        <button style="pointer-events:auto" type="button" class="btn btn-default btn-s&q" ng-click="saveAndQuit()" ng-disabled="disableSave" ng-hide="hideSaveAndQuit" translate>ns.saveQuit</button>
        <button ng-repeat="btn in additionnalButtons" style="pointer-events:auto" type="button" class="btn btn-default" ng-class="btn.class" ng-click="btn.onClick()" ng-style="btn.style"><span translate="{{btn.text}}"></span><span style="display:block;visibility:visible;" bind-html-compile="btn.icon"></span></button>
        <button style="pointer-events:auto" type="button" class="btn btn-danger" ng-click="remove()" ng-if="isEditMode" ng-hide="hideRemove" ><span translate>ns.delete</span><i class="fa fa-trash" aria-hidden="true"></i></button>
        <span ng-if="checkMoreButtons()">
            <button style="pointer-events:auto;padding-top:3px;min-width:0px;" ng-if="!statechangeMoreButtons" type="button" class="btn btn-default" ng-click="changeMoreButtons()" ><i class="fa fa-plus fa-2x" style="visibility:visible!important;display:inline-block!important" ng-style="btn.dispStyle" aria-hidden="true"></i></button>
            <button style="pointer-events:auto;padding-top:3px;min-width:0px;" ng-if="statechangeMoreButtons" type="button" class="btn btn-default" ng-click="changeMoreButtons()" ><i class="fa fa-minus fa-2x" style="visibility:visible!important;display:inline-block!important" ng-style="btn.dispStyle" aria-hidden="true"></i></button>
              <span ng-if="statechangeMoreButtons" class="pull-right" style="position:absolute;right:10px;display:grid">
                <button ng-repeat="oneBtn in moreButtons" style="margin-top:2px;pointer-events:auto;display:block" type="button" ng-if="((oneBtn.isDisplayed == null) ? true : oneBtn.isDisplayed)" class="btn btn-default" ng-class="oneBtn.class" ng-style="btn.dispStyle" ng-click="oneBtn.onClick()"><span translate="{{oneBtn.text}}"></span><span style="display:block;visibility:visible;" bind-html-compile="oneBtn.icon"></span></button>
            </span> 
        </span>  
    </div>
    <div ng-transclude></div>
</div>