<div>
    <div class="row" style="position:sticky;top:115px;z-index:1000;pointer-events:none;">
        <div class="col-sm-2" style="margin-bottom: 1%">
            <ns-return-button is-selected="isSelected"  style="pointer-events:auto" form="form" return-path="{{returnPath}}" ng-hide="hideReturn"></ns-return-button>
        </div>
        <div class="col-sm-7 col-sm-offset-3 text-right" style="margin-bottom: 1%">
            <button style="pointer-events:auto" type="submit" class="btn btn-success" ng-disabled="disableSave" translate>ns.save</button>
            <button style="pointer-events:auto" type="button" class="btn btn-default" ng-click="saveAndQuit()" ng-disabled="disableSave" ng-hide="hideSaveAndQuit" translate>ns.saveQuit</button>
            <button ng-repeat="btn in additionnalButtons" style="pointer-events:auto" type="button" class="btn btn-default" ng-class="btn.class" ng-disabled="btn.disableSave" ng-click="btn.onClick()" ng-style="btn.style" translate="{{btn.text}}"></button>
            <button style="pointer-events:auto" type="button" class="btn btn-default" ng-click="duplicateProduct()" ng-if="isEditMode && duplicateProduct" translate>ns.dup</button>
            <button style="pointer-events:auto" type="button" class="btn btn-danger" ng-click="remove()" ng-if="isEditMode" ng-hide="hideRemove" translate>ns.delete</button>
        </div>
    </div>

    <div ng-transclude></div>

    <!-- <div class="row">
        <div class="col-sm-2" style="margin-bottom: 1%">
            <ns-return-button form="form" return-path="{{returnPath}}" ng-hide="hideReturn"></ns-return-button>
        </div>
        <div class="col-sm-7 col-sm-offset-3 text-right" style="margin-bottom: 1%">
            <button type="submit" class="btn btn-success" ng-disabled="disableSave">Sauvegarder</button>
            <button type="button" class="btn btn-default" ng-click="saveAndQuit()" ng-disabled="disableSave" ng-hide="hideSaveAndQuit">Sauvegarder et quitter</button>
            <button type="button" class="btn btn-default" ng-click="duplicateProduct()" ng-if="isEditMode && duplicateProduct">Dupliquer</button>
            <button type="button" class="btn btn-danger" ng-click="remove()" ng-if="isEditMode" ng-hide="hideRemove">Supprimer</button>
        </div>
    </div> -->
</div>