<div>
    <div class="row position" >
        <div class="col-sm-2" style="margin-bottom: 1%; display: inline;">
            <ns-return-button is-selected="isSelected"  style="pointer-events:auto" form="form" return-path="{{returnPath}}" ng-hide="hideReturn"></ns-return-button>
        </div>
        <div class="col-sm-7 col-sm-offset-3 text-right" style="margin-bottom: 1%; display: inline;">
            <button style="pointer-events:auto" type="submit" class="btn btn-success" ng-disabled="disableSave"><span translate>ns.save</span><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <button style="pointer-events:auto" type="button" class="btn btn-default btn-s&q" ng-click="saveAndQuit()" ng-disabled="disableSave" ng-hide="hideSaveAndQuit" translate>ns.saveQuit</button>
            <button ng-repeat="btn in additionnalButtons" style="pointer-events:auto" type="button" class="btn btn-default" ng-class="btn.class" ng-click="btn.onClick()" ng-style="btn.style"><span translate="{{btn.text}}"></span><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button style="pointer-events:auto" type="button" class="btn btn-default" ng-click="duplicateProduct()" ng-if="isEditMode && duplicateProduct"><span translate>ns.dup</span><i class="fa fa-clone" aria-hidden="true"></i></button>
            <button style="pointer-events:auto" type="button" class="btn btn-danger" ng-click="remove()" ng-if="isEditMode" ng-hide="hideRemove" ><span translate>ns.delete</span><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>

    <div ng-transclude></div>

    <!-- <div class="row">
        <div class="col-sm-2" style="margin-bottom: 1%">
            <ns-return-button form="form" return-path="{{returnPath}}" ng-hide="hideReturn"></ns-return-button>
        </div>
        <div class="col-sm-7 col-sm-offset-3 text-right" style="margin-bottom: 1%">
            <button type="submit" class="btn btn-success" ng-disabled="disableSave">Sauvegarder</button>
            <button type="button" class="btn btn-default" ng-click="saveAndQuit()" ng-disabled="disableSave" ng-hide="hideSaveAndQuit">Sauvegarder et quitter</button>
            <button type="button" class="btn btn-default" ng-click="duplicateProduct()" ng-if="isEditMode && duplicateProduct">Dupliquer</button>
            <button type="button" class="btn btn-danger" ng-click="remove()" ng-if="isEditMode" ng-hide="hideRemove">Supprimer</button>
        </div>
    </div> -->
</div>