<div class="datepicker-holder">
    <div class="form-controls">
        <input name="datepicker" type="text" placeholder="JJ/MM/AAAA" ng-model="myDate" ng-change="onDateChange()" ng-required="ngRequired" ng-disabled="ngDisabled" />
    </div><!-- /.form-controls -->

    <!--<div class="datepicker-external-controls">
        <ul class="list-radios-secondary">
            <li>
                <div class="radio-datepicker">
                    <input type="radio" name="radio-type5" id="field-day" checked>

                    <label class="form-label" for="field-day">Aujourd’hui</label>
                </div>&lt;!&ndash; /.radio &ndash;&gt;
            </li>

            <li>
                <div class="radio-datepicker">
                    <input type="radio" name="radio-type5" id="field-week">

                    <label class="form-label" for="field-week">Semaine</label>
                </div>&lt;!&ndash; /.radio &ndash;&gt;
            </li>
        </ul>&lt;!&ndash; /.list-radios &ndash;&gt;

        <button class="button button-delete">Effacer</button>

        <button class="button">Fait</button>
    </div>&lt;!&ndash; /.datepicker-external-controls &ndash;&gt;-->
</div><!-- /.datepicker-holder -->