<div class="container-fluid rules-root" style="padding-top: 20px; padding-bottom: 20px;">
    <ns-rule rule="rule" type-promo="typePromo" cond-type="condType" removable="false"></ns-rule>
    <style>
        .rules-root {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .rules-root .conditions {
            padding-left: 40px;
        }

        .rules-root button {
            background-color: red;
            color: white;
            border-radius: 5px;
            padding: 5px 8px;
            font-size: 18px;
        }

        .rules-root .condition label {
            font-weight: normal;
        }

        .rules-root .conditions .row {
            padding: 15px 0;
        }
    </style>
</div>