<form class="form-horizontal" role="form" name="form" ng-submit="save(false)">
    <ns-box data-title="{{(isEditMode ? 'shipment.detail.t1' : 'shipment.detail.t2' )}}" title-icon="fa fa-truck fa-lg"
            close-href="#/shipments">
        <ns-buttons is-edit-mode="isEditMode" remove="removeShipment(shipment)" save-and-quit="save(true)"
                    disable-save="disableSave" return-path="/shipments" form="form">
            <ns-translation ng-model="lang" class="pull-right"></ns-translation>
            <br/>
            <br/>
            <div class="scrollmenu">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" target="_self" ng-click="changeTab('general')" translate>shipment.detail.gen</a>
                    </li>
                    <li>
                        <a data-toggle="{{isEditMode ? 'tab' : ''}}" ng-hide="!isEditMode" target="_self" ng-click="changeTab('country')" translate>shipment.detail.paysDel</a>
                    </li>
                    <li>
                        <a data-toggle="{{isEditMode ? 'tab' : ''}}" ng-hide="!isEditMode" target="_self" ng-click="changeTab('price')" translate>shipment.detail.prix</a>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="tab-content">
                <div id="general" class="tab-pane fade in active" ng-show="tabActive === 'general'" hook-shipment-detail data="shipment">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" translate>paymentMethod.detail.actif</label>
                        <div class="col-sm-7 col-lg-5">
                            <ns-switch ng-model="shipment.active" name="active"></ns-switch>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" translate>shipment.detail.code</label>
                        <div class="col-sm-7 col-lg-5">
                            <input type="text" class="form-control" id="code" translate translate-attr-placeholder='shipment.detail.ph1'
                                ng-model="shipment.code"
                                name="code"
                                >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" translate>shipment.detail.nom</label>
                        <div class="col-sm-7 col-lg-5">
                            <input type="text" class="form-control" id="name" translate translate-attr-placeholder='shipment.detail.ph2'
                                ng-model="shipment.translation[lang].name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label" translate>shipment.detail.url</label>
                        <div class="col-sm-7 col-lg-5">
                            <input type="text" class="form-control" id="url" translate translate-attr-placeholder='shipment.detail.ph3'
                                ng-model="shipment.translation[lang].url" name="url">
                            <span><span translate>shipment.detail.replUrl</span><code ng-non-bindable>{{number}}</code></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="urllogo" class="col-sm-2 control-label" translate>shipment.detail.logoUrl</label>
                        <div class="col-sm-7 col-lg-5">
                            <input type="text" class="form-control" id="urllogo" translate translate-attr-placeholder='shipment.detail.ph4'
                                ng-model="shipment.url_logo" name="logo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="preparationtime" class="col-sm-2 control-label" translate>shipment.detail.traitement</label>
                        <div class="col-sm-6 col-lg-2">
                            <input name="delay" type="number" class="form-control" min="0" id="preparationtime" ng-model="shipment.preparation.delay">
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <select name="unit" class="form-control"
                                ng-model="shipment.preparation.unit">
                                <option value="day" translate>shipment.detail.days</option>
                                <option value="week" translate>shipment.detail.weeks</option>
                                <option value="hour" translate>shipment.detail.hours</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="freePriceLimit" class="col-sm-2 control-label" translate>shipment.detail.minLiv</label>
                        <div class="col-sm-5">
                            <input type="number" min="0" class="form-control" id="freePriceLimit"
                                ng-model="shipment.freePriceLimit" name="freePriceLimit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vat_rate" class="col-sm-2 control-label" translate>shipment.detail.tva</label>
                        <div class="col-sm-5">
                                <select class="form-control" ng-options="tax.rate as tax.rate for tax in config.taxerate" ng-model="shipment.vat_rate" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="information" class="col-sm-2 control-label" translate>shipment.detail.infoCli</label>
                        <div class="col-sm-5">
                        <textarea min="0" class="form-control" id="information" name="information"
                            ng-model="shipment.translation[lang].information"></textarea>
                        </div>
                    </div>
                    
                    <div bind-html-compile="shipment.component_template"></div>
                </div>

                <div id="country" class="tab-pane fade in active" ng-show="tabActive === 'country'" hook-shipment-detail-country data="shipment">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="border: 1px #ddd solid; vertical-align: middle;" translate>shipment.detail.pays</th>
                                <th style="border: 1px #ddd solid; vertical-align: middle;" translate>shipment.detail.trait</th>
                                <th style="border: 1px #ddd solid; vertical-align: middle;" translate>shipment.detail.del</th>
                                <th style="border: 1px #ddd solid; vertical-align: middle;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="country in shipment.countries">
                                <td>
                                    <p>{{getCountryByCode(country.country)}}</p>
                                </td>
                                <td>
                                    <input name="country.delay" type="number" class="form-control" min="0" ng-model="shipment.countries[$index].delay">
                                </td>
                                <td>
                                    <select name="unit" class="form-control" ng-model="shipment.countries[$index].unit">
                                        <option value="day" translate>shipment.detail.days</option>
                                        <option value="week" translate>shipment.detail.weeks</option>
                                        <option value="hour" translate>shipment.detail.hours</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn-remove" type="button" ng-click="removeCountry($index)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="countries" id="countries" class="form-control"
                                        ng-options="country.code as country.translation[lang].name for country in countries.datas"
                                        ng-model="selectedCountry.code"
                                        ng-change="changeCountry()">
                                        <option value="" translate>shipment.detail.addPays</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn-add" type="button" ng-click="addCountry()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label"></label>
                        <div class="col-sm-6 col-lg-3">
                            
                        </div>
                    </div>
                </div>
                <div id="price" style="overflow: auto;" class="tab-pane fade in active" ng-show="tabActive === 'price'" hook-shipment-detail-price data="shipment">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="border: 1px #ddd solid; vertical-align: middle;">
                                    <button class="btn-add" type="button" ng-click="addColumn()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                    <p style="font-weight: bold;color: #5c6b7b;margin-left:10px;" translate>shipment.add.add</p>
                                </th>
                            </tr>
                            <tr>
                                <th style="width: 250px; border: 1px #ddd solid; vertical-align: middle;" translate>
                                    shipment.detail.paysPds
                                </th>
                                <th style="width: 200px; border: 1px #ddd solid; text-transform: none;" ng-repeat="weight in weights">
                                    {{weight.min}} - {{weight.max}} g
                                    <button class="btn-remove" type="button" ng-click="removeColumn($index)">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="country in shipment.countries">
                                <td style="width: 250px;">
                                    <strong>{{getCountryByCode(country.country)}}</strong>
                                </td>
                                <td ng-repeat="weight in weights">
                                    <input name="price" type="number" step='Any' class="form-control" ng-model="country.prices[$index].price" min="0" style="width: 70px; float: left;" />&nbsp;&nbsp;<span style="vertical-align: sub;">&euro;</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <style>
                .btn-add {
                    background-color: #04a2ff !important;
                    border: 0;
                    padding: 5px 8px;
                    color: white;
                    border-radius: 5px;
                }
                .btn-remove {
                    background-color: red !important;
                    border: 0;
                    padding: 5px 8px;
                    color: white;
                    border-radius: 5px;
                }
            </style>

            <!-- <div class="form-group">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Annuler</button>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </div> -->
        </ns-buttons>
    </ns-box>
</form>
