<ns-box data-title="shipment.beforeCreate.t1" title-icon="fa fa-truck fa-lg" close-href="#/shipments">
    <form class="form-horizontal" ng-submit="validate()">
        
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>shipment.beforeCreate.expType</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="settings.shipmentType">
                    <option value="delivery" translate>shipment.beforeCreate.livr</option>
                    <option value="relay_point" translate>shipment.beforeCreate.ptRel</option>
                </select>
            </div>
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-success" translate>shipment.beforeCreate.valider</button>
        </div>
        
    </form>
</ns-box>