<div>
    <div class="modal-body">
        <div class="row">
            <p class="h2 text-center align-top" translate>promo.type.newPromo</p>
        </div>
        <div class="row" style="margin-top: 30px;">
            <p class="text-center align-top" translate>promo.type.choosePromo</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()" translate>promo.type.cancel</button>
        <button type="button" class="btn btn-success" ng-click="saveType('1')" translate>promo.type.cart</button>
        <button type="button" class="btn btn-success" ng-click="saveType('2')" translate>promo.type.catalog</button>
    </div>
</div>