<ns-box data-title="config.import.t1" title-icon="fa fa-cogs fa-lg">

    <form class="form-horizontal" method="GET">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6" style="margin-top: 10px;">
                <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-default" ng-click="startImport()" translate>
                        config.import.import
                    </button>
                </div>
            </div>
        </div>

    </form>

</ns-box>