<!-- <div class="form-group">
    <div class="col-sm-11">
        <label for="type" class="col-sm-2 control-label" translate>product.general.pdtType</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="type" name="type" ng-model="productTypeName" ng-disabled="true">
        </div>
    </div>
</div> -->
<span class="label label-info pull-right">
    <span translate>product.general.pdtType</span> :
    <span class="badge">{{productTypeName}}</span>
</span>


<h3 translate>product.general.infoGen</h3>

<div class="form-group">
    <div class="col-sm-11">
        <label for="code" class="col-sm-2 control-label" translate>product.general.code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="code" name="code" ng-model="product.code" ng-disabled="isEditMode" required>
            <div class="ns-error-message">
                <div ng-show="(form.code.$dirty || form.nsSubmitted) && form.code.$error.required" translate>product.general.fieldReq</div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="name" class="col-sm-2 control-label" translate>product.general.nom</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" ng-model="product.translation[lang].name" required>
            <div class="ns-error-message">
                <div ng-show="(form.name.$dirty || form.nsSubmitted) && form.name.$error.required" translate>product.general.fieldReq</div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="code_ean" class="col-sm-2 control-label" translate>product.general.ean13</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="code_ean" name="code_ean" ng-model="product.code_ean">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="slug" class="col-sm-2 control-label" translate>product.general.slug</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="slug" name="slug" ng-model="product.translation[lang].slug">
            <div>
                <small><i translate>product.general.autoGen</i></small>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="canonical" class="col-sm-2 control-label" translate>product.general.canon</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="canonical" name="canonical" ng-model="product.translation[lang].canonical" disabled="disabled">
        </div>
    </div>
</div>

<div class="form-group" ng-show="product.type === 'virtual'">
    <div class="col-sm-11">
        <label for="downloadLink" class="col-sm-2 control-label" translate>product.general.downloadLink</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="downloadLink" name="downloadLink" ng-model="product.downloadLink">
        </div>
    </div>
</div>

<div class="form-group" ng-show="product.type === 'virtual'">
    <div class="col-sm-11">
        <label for="downloadInfos" class="col-sm-2 control-label" translate>product.general.downloadInfos</label>
        <div class="col-sm-6">
            <textarea type="text" class="form-control" id="downloadInfos" name="downloadInfos" ng-model="product.downloadInfos" rows="5"></textarea>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="set_attributes" class="col-sm-2 control-label" translate>product.general.jeuAttr</label>
        <div class="col-sm-6">
            <select id="set_attributes" name="set_attributes" class="form-control"
                    ng-options="setAttr as setAttr.name for setAttr in setAttributes track by setAttr.code" ng-model="product.set_attributes" ng-change="loadNewAttrs()">
            </select>
        </div>
    </div>
</div>

<!-- <div class="form-group">
    <div class="col-sm-11">
        <label for="set_options" class="col-sm-2 control-label" translate>product.general.jeuOpt</label>
        <div class="col-sm-6">
            <select id="set_options" class="form-control" ng-options="item._id as item.name for item in product.set_options_all" ng-model="product.set_options">
                <option value="" translate>product.general.selectJeuOpt</option>
            </select>
        </div>
    </div>
</div> -->

<div class="form-group">
    <div ng-if="product.translation[lang].canonical" class="col-sm-11">
            <label for="active" class="col-sm-2 control-label" translate>product.general.actif</label>
            <div class="col-sm-2">
                <ns-switch id="active" ng-model="product.active" name="active"></ns-switch>
            </div>

            <label for="visible" class="col-sm-2 control-label" translate>product.general.visible</label>
            <div class="col-sm-2">
                <ns-switch id="visible" ng-model="product._visible" name="visible"></ns-switch>
            </div>

            <div bind-html-compile="product.component_template"></div>
    </div>

    <div ng-if="!product.translation[lang].canonical" class="col-sm-11">
        <label for="active" class="col-sm-2 control-label" translate>product.general.actifVisible</label>
        <div class="col-sm-2">
            <div ng-click="changeActiveVisible(product)">
                
                <ul class="list-radios">
                    <li>
                        <div class="radio">
                            <input disabled type="radio" class="switch-radio" ng-value="true" ng-model="false">
                            <label class="form-label">Oui</label>
                        </div>
                    </li>
                    <li>
                        <div class="radio">
                            <input disabled type="radio" class="switch-radio" ng-value="false" ng-model="false">
                            <label class="form-label">Non</label>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    
    
        <div bind-html-compile="product.component_template"></div>
    </div>

</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="description2.title" class="col-sm-2 control-label" translate>product.general.titleDescCt</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description2.title" name="description2.title"
                   ng-model="product.translation[lang].description2.title">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="description2.title" class="col-sm-2 control-label" translate>product.general.descCt</label>
        <div class="col-sm-10 tinyeditor-small">
            <ns-tinymce text="product.translation[lang].description2.text"></ns-tinymce>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-11">
        <label for="description1.title" class="col-sm-2 control-label" translate>product.general.titleDescLg</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description1.title" name="description1.title"
                   ng-model="product.translation[lang].description1.title">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-11">
        <label for="description1.title" class="col-sm-2 control-label" translate>product.general.descLg</label>
        <div class="col-sm-10 tinyeditor-big">
            <ns-tinymce text="product.translation[lang].description1.text"></ns-tinymce>
        </div>
    </div>
</div>
