<ns-box data-title="trademark.detail.t1" title-icon="fa fa-creative-commons fa-lg" close-href="#/trademarks">
    <form name="form" class="form-horizontal" novalidate ng-submit="save(trademark)" role="form">
        <ns-buttons is-edit-mode="true" remove="removeTrademark(trademark)" save-and-quit="save(trademark,true)"
                    disable-save="disableSave" return-path="/trademarks" form="form">
            <ns-translation ng-model="lang" class="pull-right"></ns-translation>
            <div hook-trademark-detail data="trademark">
                    
                <div class="scrollmenu">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#detail" target="_self" translate>supplier.detail.details</a></li>
                        <li><a data-toggle="tab" href="#products" target="_self"  translate>supplier.detail.pdtsLinked</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="detail" class="tab-pane fade in active">

                            
                        <table id="user" class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                                <tr>
                                    <td translate>trademark.detail.code</td>
                                    <td>
                                        {{trademark.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>trademark.detail.nom</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="trademark.name">
                                    </td>
                                </tr>

                                <tr>
                                    <td translate>trademark.detail.active</td>
                                    <td>
                                        <ns-switch name="active" ng-model="trademark.active"></ns-switch>
                                    </td>
                                </tr>

                                <tr>
                                    <td ><span translate>trademark.detail.link</span> ({{lang.toUpperCase()}})</td>
                                    <td>
                                        <input type="text" class="form-control" name="link" ng-model="trademark.translation[lang].link">
                                    </td>
                                </tr>

                                <tr>
                                    <td ><span translate>trademark.detail.logo</span></td>
                                    <td class="upload-file">
                                        <div class="text-center" style="margin-bottom: 30px;" ng-if="trademark.logo">
                                            <label for="" translate></label>

                                            <!--<input type="file">-->
                                            <div ng-show="!isEditMode" class="pointer" style="padding-top: 100%; background: #ffffff; background-size: contain; background-repeat: no-repeat; background-position: center;">
                                                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                                    <h4 style="text-transform: uppercase" translate>picto.details.saveFirst</h4>
                                                </div>
                                            </div>
                                            <div class="image-frame"  ng-if="trademark.logo">
                                                <div class="row">
                                                    <div class="col-sm-4 img-responsive" style="white-space: nowrap; text-align: center;">
                                                        <img ng-src="{{getImage(trademark)}}" ng-if="trademark.logo" alt="{{trademark.logo}}">
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>medias.uploadMedias.name</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" name="filename" class="form-control" ng-model="trademark.logo" ng-disabled="true" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <ns-upload-files is-selected="nsUploadFiles.isSelected" accepttype="image/*" ng-show="isEditMode" multiple="false" type="trademark" id="trademark._id" entity="trademark"></ns-upload-files>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td translate>trademark.detail.creaDate</td>
                                    <td>{{trademark.createdAt | date}}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div id="products" class="tab-pane fade in">
                        <h3 style="display: inline" translate>supplier.detail.pdtsLinked</h3>
                        <div class="form-group" style="margin-top: 20px;">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">

                                <table id="DataTables_Table_0" class="table table-striped table-bordered bootstrap-datatable datatable dataTable table-hover"
                                    aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                    <tr role="row">
                                        <th role="columnheader" style="width: 8%;">
                                            <a ng-click="local.sortType = 'id'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.code
                                                <span ng-show="local.sortType == 'id' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'id' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 8%">
                                            <a ng-click="local.sortType = 'imageUrl'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.img
                                                <span ng-show="local.sortType == 'imageUrl' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'imageUrl' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 34%;">
                                            <a ng-click="local.sortType = 'name'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.nom
                                                <span ng-show="local.sortType == 'name' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'name' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 10%;">
                                            <a ng-click="local.sortType = 'price.ati.normal'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.prix
                                                <span ng-show="local.sortType == 'price.ati.normal' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'price.ati.normal' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 10%;">
                                            <a ng-click="local.sortType = 'qty'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.qt
                                                <span ng-show="local.sortType == 'qty' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'qty' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 10%;">
                                            <a ng-click="local.sortType = 'type'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.typePdt
                                                <span ng-show="local.sortType == 'type' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'type' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 10%;">
                                            <a ng-click="local.sortType = 'active'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.actif
                                                <span ng-show="local.sortType == 'active' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == 'active' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                        <th role="columnheader" style="width: 10%;">
                                            <a ng-click="local.sortType = '_visible'; local.sortReverse = !local.sortReverse; getProducts();" translate>
                                                supplier.detail.visible
                                                <span ng-show="local.sortType == '_visible' && !local.sortReverse" class="ico-chevron-down"></span>
                                                <span ng-show="local.sortType == '_visible' && local.sortReverse" class="ico-chevron-up"></span>
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="product in products" ng-click="goToProductDetails(product.type, product.code)" style="height: 80px; cursor: pointer">
                                        <td>{{product.code}}</td>
                                        <td><img ng-src="/images/products/196x173/{{product.images[0]._id}}/{{product.images[0].url.split('/')[product.images[0].url.split('/').length - 1]}}" height="80" width="120" /></td>
                                        <td class=" sorting_1" style="line-height: 24px;">
                                            {{product.translation[adminLang].name}}
                                        </td>
                                        <td>{{product.price.ati.normal !== undefined && product.price.ati.normal != null ? product.price.ati.normal : 'N/A'}}</td>
                                        <td>{{product.stock.qty !== undefined && product.stock.qty != null ? product.stock.qty : 'N/A'}}</td>
                                        <td>{{product.type | nsProductTypeName}}</td>
                                        <td>
                                            <span style="font-size: 16px" ng-bind-html='product.active | checked'></span>
                                        </td>
                                        <td>
                                            <span style="font-size: 16px" ng-bind-html='product._visible | checked'></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                                <pagination ng-if="totalItems > 12" total-items="totalItems" page="currentPage" on-select-page="getTradeMarkPrds(trademark, page)" items-per-page="12" max-size="maxSize" boundary-links="true"
                                    rotate="false"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ns-buttons>
    </form>    
    <style>
        .upload-file {
            padding: 5px 0;
        }
        .upload-file > div {
            width: calc(50% - 8px);
            display: inline-block;
            vertical-align: middle;
        }
        @media screen and (max-width: 972px) {
            .upload-file > div {
                width: 100%;
            }
        }
    </style>    
</ns-box>