.ns-breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.ns-breadcrumb-container > nav { font-family: 'Lato', sans-serif; color: #9b9b9b; }

.ns-breadcrumb-container > nav ul { font-size: 0; }

.ns-breadcrumb-container > nav li { position: relative; display: inline-block; vertical-align: middle; font-size: 17px; }

.ns-breadcrumb-container > nav li + li { padding-left: 5px; margin-left: 0px; }

/*.ns-breadcrumb-container > nav li + li:before { content: ' | '; position: absolute; top: 0px; left: 0; }*/

.ns-breadcrumb-container > nav a { text-decoration: none; }

.ns-breadcrumb-container > nav a:hover { color: #7eb620; }

/* Tablet Portrait */

@media (max-width: 1023px) {
    .ns-breadcrumb-container > nav { padding: 4px 0; margin-bottom: 6px; }
    .ns-breadcrumb-container > nav li { font-size: 10px; }
    .ns-breadcrumb-container > nav li + li { padding-left: 8px; margin-left: 6px; }
    .ns-breadcrumb-container > nav i { width: 13px; height: 13px; }
}

.ns-breadcrumb-container {
    justify-content: initial;
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.ns-breadcrumb-image {
    vertical-align: baseline;
    width: 24px;
    color: #e9ecef;
}

.ns-breadcrumb-item + .ns-breadcrumb-item {
    /*padding-left: 0.5rem;*/
    padding-top: 2px;
}

.ns-breadcrumb-item + .ns-breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ' / ';
    font-weight: 700;
}

.ns-breadcrumb-item + .ns-breadcrumb-item:hover::before {
    text-decoration: underline;
}

.ns-breadcrumb-item + .ns-breadcrumb-item:hover::before {
    text-decoration: none;
}