/* === Menu === */

.nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; list-style-type: none; }

.nav > ul > li { border-left: 1px solid white; }

.nav > ul > li:last-of-type { border-right: 1px solid white; }

.nav > ul li a {
    display: block;
    text-align: center;
    padding: 0 30px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    webkit-transition: background .4s, color .4s;
    -o-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
}
  
.nav ul li {
    display: block;
    position: relative;
    float: left;
    background: var(--color-theme);
}

.nav ul ul { left: -1px; }

.nav ul a:hover { background: var(--color-theme-light) }

.nav ul ul li { border-left: 1px solid white; }

.nav li ul { display: none; }

.nav ul li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.nav li:hover > ul {
    display: block;
    position: absolute;
    z-index: 1;
}

.nav li:hover li { float: none; }

.nav .main-navigation li ul li { border-top: 0; }

.nav ul ul ul {
    left: 100%;
    top: 0;
}

.nav ul ul ul li:first-child {
    border: none !important;
}

.nav ul:before,
.nav ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.nav ul:after { clear: both; }

@media (max-width: 1200px) {
    .nav > ul li a  { padding: 0 15px; }
}

@media (max-width: 1024px) {
    .nav { position: absolute; top: 0; right: 0; width: 232px; z-index: 2; -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.50); box-shadow: 0 0 10px 0 rgba(0,0,0,0.50); visibility: hidden; opacity: 0; -webkit-transition: opacity .4s, visibility .4s; -o-transition: opacity .4s, visibility .4s; transition: opacity .4s, visibility .4s; max-height: calc(100vh - 90px); overflow-y: auto; }
    .nav.show { visibility: visible; opacity: 1; }

    .nav ul { display: block; }
    .nav > ul li a { font-size: 14px; line-height: 1.36; padding: 8px 16px; text-align: left; border-top: 1px solid white; }
    .nav > ul > li:first-of-type > a { border-top: none; }

    .nav > ul > li:last-of-type,
    .nav > ul > li { border: none; }
    
    .nav li ul { display: block; }

    .nav ul ul li { border: none; }

    .nav ul li {
        display: block;
        position: relative;
        float: none;
    }
}