# Environment
modules/*
!modules/package.json

# Backoffice
/backoffice/*.*
/backoffice/app/*
/backoffice/exports/
/backoffice/bower-components/
/backoffice/views/email/
/backoffice/medias/
/backoffice/front/img/slide/

# Backoffice exceptions
!/backoffice/package.json
!/backoffice/app/adminList/
!/backoffice/app/attribute/
!/backoffice/app/attributesSet/
!/backoffice/app/cart/
!/backoffice/app/category/
!/backoffice/app/client/
!/backoffice/app/cmsBlocks/
!/backoffice/app/config/
!/backoffice/app/contact/
!/backoffice/app/system/
!/backoffice/app/dependencies/
!/backoffice/app/design/
!/backoffice/app/family/
!/backoffice/app/gallery/
!/backoffice/app/home/
!/backoffice/app/invoices/
!/backoffice/app/job/
!/backoffice/app/mail/
!/backoffice/app/medias/
!/backoffice/app/modules/
!/backoffice/app/newsletter/
!/backoffice/app/option/
!/backoffice/app/optionsSet/
!/backoffice/app/order/
!/backoffice/app/payment/
!/backoffice/app/paymentMethod/
!/backoffice/app/picto/
!/backoffice/app/product/
!/backoffice/app/productBundle/
!/backoffice/app/productReviews/
!/backoffice/app/productSimple/
!/backoffice/app/productVirtual/
!/backoffice/app/promo/
!/backoffice/app/shipment/
!/backoffice/app/site/
!/backoffice/app/slider/
!/backoffice/app/staticPage/
!/backoffice/app/statistics/
!/backoffice/app/stock/
!/backoffice/app/supplier/
!/backoffice/app/territories/
!/backoffice/app/themes/
!/backoffice/app/trademark/
!/backoffice/app/translate/
!/backoffice/app/translation/
!/backoffice/app/update/
!/backoffice/app/app.js
!/backoffice/aquilaCmsBlocks/
!/backoffice/aquilaComponents/
!/backoffice/assets/
!/backoffice/css/
!/backoffice/js/
!/backoffice/lib/
!/backoffice/vendor/
!/backoffice/views/

# Themes
/themes/*/out
/themes/*
/themes/**/fakeDatas/files/cache
/themes/**/demoDatas/files/cache

# Themes exceptions
!/themes/default_theme_2
!/themes/README.md
!/themes/package.json
