<footer class="footer"><!-- <a href="#" class="logo footer-logo"><img src="css/images/ns-g.png" alt="" width="210" height="40"/> --></a>
    <p class="copyright">2020 AQUILA</p>
    <!--p.copyright(ng-show="version", style="position: absolute; right: 1.3em; bottom: 1.3em;") V {{version}}-->
    <!-- /.copyright-->
</footer>
<!-- /.footer-->
