<ns-box data-title="translate.t1" title-icon="fa fa-language fa-lg">

    <form name="form" role="form">
        <ns-buttons return-path="/"  hide-save-and-quit="true" hide-save="true" ></ns-buttons>

        <div translate>translate.translateFile</div>
        <ns-translation ng-model="local.lang" class="pull-left"></ns-translation>
        <select class="form-control" ng-model="local.currentTranslate" style="width:300px;margin-bottom: 20px;margin-left:140px" ng-change="local.loadTranslation()">
            <option ng-repeat="oneItem in local.allTranslateNames" value="{{oneItem}}">{{oneItem}}</option>
        </select>

        <div style="font-size: 12px" translate>translate.nb</div>
        <br/>
        
    </form>
    <div ng-controller="TranslateHomeCtrl">
        <ns-buttons form="myForm" hide-save-and-quit="true"  hide-return="true" additionnal-buttons="additionnalButtons" ng-click="onSubmit(myForm)"></ns-buttons>
        <form name="myForm" role="form" sf-schema="schema" sf-form="form" sf-model="model"  style="width: 80%;margin:auto"></form>
    </div>
    <div ng-show="showLoader" id="overlayModule">
        <div class="fa fa-spinner fa-spin" style="font-size: 70px;"></div>
    </div>
</ns-box>
